/*
    Document   : media
    Created on : Jun 15, 2015, 5:31:01 PM
    Author     : AMU
    Description:
        Purpose of the stylesheet follows.
*/

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 980px) {
  .search_main {
    padding: 20px 0 92px;

  }
  .lift_part{margin: 15px 0;}
  .pay_part{margin: 15px 0;}
  .search-head-without {
    display: inline-block;
    width: 78% !important;
  }
}
@media screen and (max-width: 767px) {
  .get_soft{}

  .modal-dialog {
    width: 600px;
    margin: 10px auto;
  }

  .login_page{margin: 25px 0 0 0;}
  .rent_tit {
    font-size: 28px; padding: 147px 0 40px;

  }
  .welcome_title {

    font-size: 15px;

  }
  .signin_teg {
    font-size: 15px;
  }
  .search_main {
    padding: 20px 0 5%;
  }
  .sell-main-part{overflow: hidden;}
  .need_main{margin: 25px 0 0 0;}
  .sell_main_tit {
    font-size:16px;
  }
  .sell_lebal {
    font-size: 15px;
  }

  .collapse-for-small {
    margin-top: 34px;
  }

  .collapse-for-small .landing-header {
    padding-left: 20px;
    padding-top: 5px;
  }

  .collapse-for-small .left-link-div {
    display: block;
  }

  .collapse-for-small .req-call-div {
    height: 30px;
  }

  .collapse-for-small .req-call-div .glyphicon-earphone {
    margin-right: 10px;
  }

  .collapse-for-small .sign-in-div .glyphicon-log-in {
    margin-right: 2px;
    margin-left: 0;
  }

  .collapse-for-small .landing-header .get-free-acc {
    margin: 0;
  }

  .collapse-for-small .sign-reg-link {
    padding: 0;
    margin: 8px 0;
  }

  .prelogin-header-btn {
    float: right;
  }

  .prelogin-header-btn .icon-bar {
    background-color: #009ddc;
  }

  .prelogin-header .search-head {
    width: 84% !important;
    margin-bottom: 15px;
  }

  .prelogin-header .see-your-need-small {
    display: block;
    float: none;
  }

  .pre-collapse {
    margin-top: 20px;
  }

  .landing-navbar-header {
    padding: 0 15px;
  }

  .landing-collapse-small {
    position: absolute;
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
    color: rgb(0, 157, 220);
    background-color: rgb(255, 255, 255);
  }

  .req_call-small a {
    color: #009ddc;
  }

  .cd-dropdown-trigger-small {
    color: #009ddc;
  }

  .landing-container {
    padding: 0;
  }

  .list-view-ul .list-view-li h4 {
    font-size: 16px;
  }

  .list-view-ul .list-disc h4 {
    font-size: 16px;
  }

  .list-view-ul .list-desc {
    width: 40%;
  }

  .list-view-ul .list-view-desc {
    width: 22%;
    text-align: center;
  }

  .noopad_mobile {
    padding: 0;
    text-align: center;
  }

  .noopad_mobile .product_menu ul li a {
    padding: 0 0;
    font-size: 13px
  }

  .go_back a {
    font-size: 13px;
  }

  .req-confirm {
    text-align: left;
  }

  .total-price div {
    padding: 0 0 25px 0;
    width: 50%;
    min-width: 300px;
    text-align: left;
  }

  .total-price div label {
    margin-right: 0;
    font-size: 14px;
  }

  .total-price div span {
    float: right;
    font-size: 14px;
  }

  .total-price div {
    padding-right: 15px;
  }

  .cont-rent-btn {
    text-align: center;
  }

  .reserve-generate-btn {
    text-align: center;
  }

  .reserve-generate-btn .sign_mybtn {
    width: 138px;
  }

  .job-site-detail {
    padding: 0 15px 15px;
  }
  
  .job-site-list {
    padding: 15px 15px 0;
  }

  .reserve-btns {
    padding: 0 6% 10px 6%;
  }
  .contact-numbers-col {
    padding: 0;
  }

  .contact-numbers-col button {
    min-width: 270px;
  }
  .reserve-generate-btn .cont {
    width: 162px;
  }
  .nopadding-xs {
    padding: 0;
  }

  .search-show {
    display: block;
    padding-bottom: 15px;
  }

  .landing-collapse-small {
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.5);
  }

  .dashboard-text-small {
    font-size: 14px;
    line-height: 23px;
  }

  .about-small {
    line-height: 23px;
  }

  .dashboard-small-icon {
    margin-right: 10px;
  }
  .cart-menu-small {
    display: block;
  }

  .about-button-small {
    float: none;
  }

  .req_call {
    margin: 0;
  }

  .delivery-xs {
    margin-top: 15px;
  }

  .delivery-pickup-xs {
    padding: 0 15px !important;
  }

}

@media screen and (max-width: 600px) {
  .modal-dialog {
    width: 480px;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 991px) {
  .main_bg {
    background-size: 100% 100%;
    min-height: 500px;
  }

  .rent_tit {
    font-size: 24px;
    padding: 8% 0 5% 0;
  }

  .search-head {
    display: inline-block;
  }

  .logo_part {
    margin-bottom: 10px;
  }

  .right-btn-col {
    padding-top: 10px;
  }

  .right-btn-col .add-list {
    margin: 0;
  }

  .show-for-small {
    display: none;
  }

  .filt-btn {
    display: block;
  }

  .show-filter {
    display: block;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    margin-top: 45px;
  }

  .search-res-figure {
    text-align: center;
  }

  .search-res-figure .search-res-img {
    max-width: 350px;
  }

  .lift_box {
    width: 45%;
  }

  .productname_tit {
    font-size: 16px;
    padding: 0;
  }

  .procutby {
    font-size: 14px;
    padding: 0;
  }

  .procutby_vendor a {
    color: #009ddc;
    font-size: 14px;
  }

  .ten_botam {
    padding: 0 0 10px 0;
  }

  .rate_user {
    font-size: 14px;
  }

  .read_review {
    font-size: 14px;
  }

  .tour-col {
    padding: 0;
  }

  .cunsult {
    font-size: 15px;
    line-height: 20px;
  }

  .daily_price_product {
    font-size: 16px;
  }

  .you-save {
    text-align: center;
  }

  .you-save .can_dolar_product {
    font-size: 14px;
  }

  .you-save .reg_dolar_product {
    font-size: 18px;
  }

  .you-save .save_dol {
    font-size: 14px;
  }

  .avelble_status {
    text-align: center;
  }

  .divider-col {
    text-align: center;
  }

  .divider-col .product_dash_lf {
    width: 40%;
  }

  .add-wish-btn {
    padding: 0;
  }

  .divider-col .product_dash_rg {
    width: 40%;
  }

  .inq_btn {
    /*float: right;*/
    /*margin-right: -30px;*/
  }

  .inquiry-multiple {
    padding: 0;
  }

  .calc-col {
    text-align: center;
  }

  .caldil {
    margin: 0 0 0 10px;
    font-size: 14px;
  }

  .calc-col .enter_zip {
    width: 100%;
    margin: 10px 0 10px 0;
    display: block;
    margin: 10px auto;
    max-width: 250px;
  }

  .calc-col .check_rate {
    width: 100%;
    margin: 0 0 10px 0;
    display: block;
    margin: 10px auto;
    max-width: 250px;
  }

  .product_info_tit {
    font-size: 16px;
  }

  .product_info_p {
    font-size: 14px;
  }

  .push_up {
    margin-bottom: 12px;
  }

  .we_can {
    font-size: 15px;
  }

  .dashboard-small {
    padding: 0 15px 0 15px !important;    
  }

  .manage_job_tit_small {
    font-size: 16px;
  }

  .job-ste-box-small ul li{
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
    max-width: 230px;
  }

  .job-ste-box-small ul li:first-child {
    margin: 0 1.5% 15px 0;
  }

  .job-ste-box ul li:last-child {
    margin: 0 0 0 0;
  }

  .update_date_number {
    font-size: 40px;
  }

  .update_date_month {
    font-size: 14px;
  }

  .update_date_title {
    width: 45%;
  }

  .reser_tex_small {
    font-size: 13px;
    padding: 0;
  }

  .extend_link {
    display: block;
  }

  .view_contract_link {
    float: none;
  }

  .mng-search-bar {
    float: none !important;
    max-width: 290px;
    width: 290px;
  }

  .bord_dash_bot_small {
    margin-top: 15px;
  }

  .no-search-row .form-left p {
    margin-left: 0px;
    margin-right: 10px;
  }

  .no-search-row .form-left .to {
    margin-left: 0px;
    margin-right: 30px;
  }

  .table-top {
    padding-top: 15px;
  }

  .reserve-success-heading {
    font-size: 16px;
  }

  .reserve-success-heading {
    font-size: 16px;
  }

  .reserve-success-heading {
    font-size: 16px;
  }

  .for-small {
    display: inline-block;
    float: right;
    background: transparent;
    border: none;
    padding-top: 38px;
    outline: none;
  }

  .for-small .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #009ddc;
    margin-bottom: 4px;
  }

  .hide-header-navbar {
    display: none;
  }

  .show-header-navbar {
    display: block;
  }

  .my-search-nav {
    padding: 0;
  }

  .my-search-nav .search-head-without {
    width: 85% !important;
  }

  .my_search {
    margin-right: 0;
  }

  .dont-see-div {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }

  .dropdown-menu {
    min-width: auto;
  }

  .catalog-div .lift_box {
    width: 45%;
  }

  .cart_menu .noti{
    left: 72px;
  }

  .sort-by-dropdown {
    right: 0;
    left: auto;
  }

  .reg-success {
    padding: 0;
  }

  .reg-success .panel-success h3 {
    font-size: 16px;
  }

  .reg-success .panel-success h3 i {
    font-size: 18px;
  }

  .reg-success .panel-body {
    font-size: 14px;
  }

  .upcoming-small {
    padding: 0
  }

  .upcoming-small .upcoming-title {
    font-size: 15px;
  }

  .upcoming-small .update_date {
    width: 20%;
  }

  .upcoming-small .update_date_pic {
    width: 32%;
  }

  .upcoming-small .update_date_title {
    padding: 0 0 0 4%;
  }

  .upcoming-small .update_date_title p,
  .eqe_text {
    font-size: 13px;
  }

  .cart-table thead tr th,
  .cart-table tbody tr td {
    white-space: nowrap;
  }

  .total-price div {
    padding-right: 0;
  }

  .cart-for-mobile {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  .cart-col .cart-image-div {
    min-height: 200px;
    text-align: center;
    background: #ddd;
  }

  .cart-col .equipment-desc {
    padding: 0 15px;
  }

  .cart-col .qty-head {
    margin: 5px 0 0 0;
    font-size: 13px;
  }

  .equipment-desc input {
    margin: 3px 0 10px 0;
  }

  .sub-total {
    margin: 10px 0;
    font-weight: 600;
  }

  .promo-code button {
    width: 140px;
  }

  .content-top {
    padding-top: 182px;
  }

  .login-content-top {
    padding-top: 82px;
  }

  .forgot-content-top {
    padding-top: 30px;
  }

  .panel-left {
    padding: 0 0
  }

  .panel-right {
    padding: 10px 0;
  }

  .panel-right .total_order_d {
    float: none;
  }

  .order-history-panel .order_bot {
    margin: 10px 0 0px 0;
  }

  .order-history-panel .treack_main_order {
    text-align: left;
  }

  .order-history-collapse {
    padding: 0;
  }

  .quotes-search {
    float: none;
  }

  .quotes-total-price {
    background-color: transparent;
    padding: 10px 15px;
  }

  .pro_pic {
    margin: 0px 5px 0px 6px;
    width: 22px;
  }

  .cart_menu .cart_noti {
    right: 115px;
  }

  .user-list-group {
    min-width: 100%;
  }

  .about-dropdown {
    min-width: auto;
    left: -45px;
  }
  .select-date {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .job-site-list .search-div i {
    color: #ccc;
    margin-top: 3px;
    margin-right: 10px;
    float: right;
  }
  .order-history-accordion>.panel-heading+.panel-collapse>.panel-body {
    padding-left: 0;
    padding-right: 0;
  }
  .quotes-filter-div .search-div input {
    width: 85%;
  }

  .not-user-div .cart_noti {
    right: 10px;
    top: 4px;
  }
  .quotes-site-price {
    margin-top: 15px;
  }
  .terms-content-top {
    padding-top: 100px;
  }
  .profile-setting {
    padding: 0
  }

  .profile-setting .inputs-div {
    padding: 15px 15px 0 0;
  }

  .profile-setting .search-div input {
    width: 80%;
  }

  .portal-setting .form-control {
    margin-top: 10px;
  }

  .security-input {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .soc_foot {
    text-align: center;
  }
  .copy-text{text-align: center; padding: 10px 0;}
  .about_part{margin: 15px 0;}
  .logo_part{margin: 15px 0;}
  .logo-center{text-align: center;}
  .req_part{ }
  .get_soft {
    margin: 0 0 0 7px;

  }
  .glyphicon-align-justify{font-size: 18px;}
  .glyphicon-earphone{font-size: 18px;}
  .glyphicon-log-in{font-size: 18px;}
  .eqe_tex {
    font-size: 12px;
    line-height: 23px;
  }
  .req_call {
    font-size: 12px;
    line-height: 23px;
  }
  .req_call a {
    font-size: 14px;
    line-height: 23px;
  }
  .req_part {
    padding: 0;}
  .rent_tit {
    font-size: 23px;
    padding: 10% 0 12px;
  }
  .search-head {
    display: inline-block;
    width: 70% !important;
  }
  .main_bg{
    background-size: 100% 100%;
    min-height: auto;
  }
  .mob_tit {
    font-size: 20px;

  }
  .mob_subtit {
    font-size: 14px;

  }
  .tech-menu ul li h2 {
    font-size: 20px;
  }

  .user-div {
    padding: 0;
  }
  .cart_menu ul li a {

    padding: 0 2px;
  }
  .cart_menu .noti{left: 60px;}

  .lift_box {
    width: auto;
    display: inline-block;
    float: none;
  }

  .add-job-site-btn {
    margin-bottom: 10px;
  }

  .list-view-btn {
    min-width: 127px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .map-view-btn {
    border-radius: 4px;
  }

  .modal-dialog {
    width: 320px;
    margin: 10px auto;
  }

  .catalog-div .lift_box {
    width: 85%;
    display: inline-block;
    float: none;
  }

  .signin_teg {
    font-size: 14px;
  }

  .rent-sale-soft {
    padding: 0;
  }

  .rent-sale-soft .rent_title {
    font-size: 16px;
  }

  .rent-sale-soft .rent_subtit {
    font-size: 14px;
  }

  .root-category li a  {
    padding: 10px 3px !important;
    font-size: 13px !important;
  }

  .job-ste-box-small ul li {
    max-width: 320px;
  }

  .manage-job-btn-col .map {
    border-radius: 0;
  }

  .manage-job-btn-col .list {
    border-radius: 0;
  }

  .map-view-btn {
    min-width: 127px;
  }

  .not-user-div {
    padding: 17px 0px;
  }
  .panel-left {
    line-height: 25px;
  }

  .reserve-btns {
    padding: 0 10% 10px 10%;
  }

  .reserve-generate-btn .reser-now:last-child {
    margin-left: 0;
  }

  .reserve-generate-btn .cont {
    margin-bottom: 10px;
  }
  .view-down {
    margin-right: 10px;
  }

  .filter-btns {
    width: 115px;
  }

  .quotes-filter-div {
    width: 92%;
  }
  .not-user-div .cart_noti {
    right: -8px;
    top: 10px;
  }
  .quotes-total-price {
    background-color: transparent;
    padding: 10px 5px;
  }

  .quotes-total-price div {
    padding-right: 20px;
  }
  .view-jobsite-modal {
    width: 300px;
  }
  .view-down-quotation {
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .eqe_tex {
    font-size: 12px;

  }
  .get_soft {
    padding: 6px 16px;
  }
}
