<header class="head_without_index">
  <div class="container">
    <!-- START  logo -->
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12 nopadding logo-center">
      <a href="index.html">  <img src="/assets/images/logo.png" alt="" ></a>
    </div>
    <!-- END  logo -->
    <!-- START  Search box -->
    <div class="col-lg-7 col-md-6 col-sm-4 col-xs-12">

      <form class="navbar-form topnav-search" role="search">

        <input type="text" class="form-control search-head"  name="q" placeholder="Search lifts, boom lifts, forklifts etc" id="top-query" name="query" ng-model="selectedProduct"
               typeahead="item as item.Product_Name for item in getProducts($viewValue)"
               typeahead-on-select="selectSearchedItem($item, $model, $label)"
               autocomplete="off"
               typeahead-template-url="typeahead-item.html">

        <button class="btn btn-default my_search" type="submit" ng-click="selectSearchedItem()"><i class="glyphicon glyphicon-arrow-right"></i></button>
        <a href="/#/help" class="help-link">Don't see what you need?</a>
      </form>

    </div>
    <!-- END  Search box -->
    <div class="col-lg-4 col-md-2 col-sm-6 col-xs-12 my_alc">
      <div class="btn-group drop-btn">
        <a href="/#/login" ng-if="$state.is('hmPrelogin.register')">Sign in</a>
        <a href="/#/register" ng-if="$state.is('hmPrelogin.login')">Register</a>
        <!-- <button class="btn btn-mini my-alc-btn">My Account</button>
        <button class="btn btn-mini dropdown-toggle my-alc-btn-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
        </ul> -->
      </div>
    </div>
  </div>
</header>
