<footer>
  <section class="footer-section">
    <div class="container footer-container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <img src="/assets/images/footer-crane.png" class="fullwidth landing-img-max">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 most-rented-heading footer-team-col">
          <h4>Noble Iron</h4>
          <div class="line"></div>
          <ul>
            <a ui-sref="hm.team" class="on-hover-pointer"><li>Team</li></a>
            <a ui-sref="hm.boardOfDirectors" class="on-hover-pointer"><li>Board Of Directors</li></a>
            <a ui-sref="hm.faq" class="on-hover-pointer"><li>Faq</li></a>
            <a ui-sref="hm.pressReleases" class="on-hover-pointer"><li>Press Releases</li></a>
            <a ui-sref="hm.financialReports" class="on-hover-pointer"><li>Financial Reports</li></a>
            <a ui-sref="hm.annualMeeting" class="on-hover-pointer"><li>2015 Annual Meeting</li></a>
            <a ui-sref="hm.contactUs" class="on-hover-pointer"><li>Contact Us</li></a>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 most-rented-heading">
          <h4>Contact</h4>
          <div class="line"></div>
          <ul>
            <li>Sales and Rental: 1-855-767-4424</li>
            <li>Texada Software: 1-800-361-1233</li>
            <li>Investor Relations: (832) 767-4424</li>
            <li>Email: <a href="mailto:customercare@nobleiron.com" class="color-blue">customercare@nobleiron.com</a></li>
            <li>
              <p class="nopadding"> <i class="fa fa-map-marker color-white"></i>&nbsp Address: 505 Rankin Road Houston,<br> TX 77073</p>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 most-rented-heading">
          <h4>Newsletter</h4>
          <div class="line"></div>
          <p>Get news on our latest promotions, products and service. We'll never share your email address and you can opt out any time</p>
          <div class="landing-search-div footer-input">
            <input class="form-control" type="text" placeholder="Enter your mail id">
            <button class="btn all-btn sign_mybtn landing-search hidden-md hidden-sm hidden-xs">
              Subscribe
            </button>
            <div class="visible-md visible-sm visible-xs pull-center">
              <button class="btn all-btn sign_mybtn">
                Subscribe
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="social-share">
              <a href="">
                <i class="fa fa-facebook"></i> &nbsp  &nbsp
              </a>
              <a href="">
                <i class="fa fa-linkedin"></i> &nbsp  &nbsp
              </a>
              <a href="">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="main-footer">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bottom-col">
        <p>© 2016 Noble Iron. All rights reserved.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right bottom-col">
        <p scroll-to="home" duration="1800" class="on-hover-pointer">Top <i class="fa fa-arrow-circle-o-up"></i></p>
      </div>
    </div>
  </section>
</footer>