<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
  <!-- <div class="tab-content"> -->
  <!-- START  Dashboard Content -->
  <!-- <div id="dash" class="tab-pane fade in active"> -->

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding my-bottm-line manage_job_tit">
    Manage Job Sites
  </div>
  <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right nopadding my-bottm-line dash_board_tit">
    <input type="text" placeholder="Search Sites" class="form-control pull-right mng-search-bar">
  </div> -->
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right nopadding my-bottm-line dash_board_tit job-site-list">
    <!-- <i class="fa fa-filter marker pull-right heading-text search-filter-icon" ng-click="filter()"></i> -->
    <i class="fa fa-search marker pull-right heading-text search-filter-icon" ng-click="search()"></i>
    <div class="form-control search-div quotes-search hidden-xs" ng-class="{'searchShow jobsite-search-show': showSearch}">
      <input type="text" placeholder="Site Id">
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 arrow_box search-box-xs job-site-list quotes-filter-div search-arrow-box" ng-class="{'search-show': showSearch}">
    <div class="form-control search-div quotes-search searchShow">
      <input type="text" placeholder="Site Id">
    </div>
  </div>
  <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 arrow_box job-site-list quotes-filter-div filter-arrow-box" ng-class="{'filter-show': showFilterDiv}">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <p class="desc-text">From Date</p>
      <div class="form-control search-div select-date" ng-click="openDatepicker('from')">
        <input type="text" placeholder="dd/mm/yyyy" datepicker-popup ng-model="from" is-open="queryFormData.from">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <p class="desc-text">To Date</p>
      <div class="form-control search-div select-date" ng-click="openDatepicker('to')">
        <input type="text" placeholder="dd/mm/yyyy" datepicker-popup ng-model="to"  is-open="queryFormData.to">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <p class="desc-text">Job Site</p>
      <div class="form-control search-div select-date">
        <input type="text" placeholder="Enter Jobsite Keyword" ng-model="jobsite">
        <i class="fa fa-marker"></i>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 site-btn-div text-right devider">
      <button class="btn sign_mybtn all-btn primary-btn filter-btns">Apply</button>
      <button class="btn sign_mybtn all-btn primary-btn filter-btns" ng-click="reset()">Reset</button>
    </div>
  </div> -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bord_dash_bot bord_dash_bot_small"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 manage-job-btn-col">
    <a ui-sref="hm.dashboard.jobSites.addJobSite" class="btn pull-left manage-job-btn add-job-site-btn sign_mybtn all-btn primary-btn">Add Job Site</a>
    <button class="btn btn-default pull-right manage-job-btn deactivate list list-view-btn all-btn" ng-class="{'active primary-btn' : params.listView}" ng-click="toggleListView(true)">List View</button>
    <button class="btn btn-default pull-right manage-job-btn deactivate map map-view-btn all-btn" ng-click="toggleListView(false)" ng-class="{'active primary-btn' : !params.listView}">Map View</button>
  </div>
  <!-- map view start -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <load-indicator loading="flags.jobSiteFetchInProgress"></load-indicator>
      </div>
  </div>

  <div ng-style="{'visibility': flags.jobSiteFetchInProgress? 'hidden':'visible'}">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-ste-box" ng-if="!params.listView">
      <job-site-map-view></job-site-map-view>
    </div>
    <!-- map view end -->
    <!-- list view start -->
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" ng-if="params.listView">
      <job-site-list-view></job-site-list-view>
    </div>
  </div>

</div>


