<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()">×</button>
    <h4 class="modal-title">Reserve this Equipment</h4>
  </div>
  <div class="modal-body" style="overflow: hidden;">
    <div class="col-lg-6 reserve-left">
      <figure>
        <img src="assets/images/popup_electric.jpg">
      </figure>

      <div class="col-md-12">
        <p class="terms">
          <strong>Terms:</strong> Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
          Curabitur dapibus iaculis. Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat
          massa placerat ac. Curabitur dapibus iaculis.
        </p>
      </div>
      <!-- <div class="col-lg-6">
        <div class="form-group">
          <label for="email">Pickup Date</label>
          <input type="email" placeholder="Enter a valid email address" id="email" class="form-control">
        </div>
      </div> -->
      <!-- <div class="col-lg-6">
        <div class="form-group">
          <label for="email">Pickup Date</label>
          <input type="email" placeholder="Enter a valid email address" id="email" class="form-control">
        </div>
      </div> -->
      <!-- <div class="col-lg-6">
        <div class="form-group">
          <label for="email">Pickup Time</label>
          <input type="email" placeholder="Enter a valid email address" id="email" class="form-control">
        </div>
      </div> -->
      <!-- <div class="col-lg-6">
        <div class="form-group">
          <label for="email">Quantity</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div> -->
    </div>
    <div class="col-lg-6 reserve-right">
      <h4 class="reserve_eqe_tit">
        Jig Skytrak 42’ Telehandler 8000
        <span class="reserve_eqe_num text-center">#8042</span>
      </h4>
      <div class="daily_ul">
        <ul>
          <li>
            <p class="daily_title">Daily</p>
            <p class="daily_price">$199</p>
            <p class="daily_price_check">$239</p>
          </li>
          <li>
            <p class="daily_title">Weekly</p>
            <p class="daily_price">$1156</p>
            <p class="daily_price_check">$1399</p>
          </li>
          <li>
            <p class="daily_title">Monthly</p>
            <p class="daily_price">$4556</p>
            <p class="daily_price_check">$499</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 total_price_popup">Total: <span class="total_price_cle">$349</span></div>
      <div class="col-lg-6">
        <a class="btn btn-default print_btn" href="/#/equipments/12/reserve-success" type="submit">Reserve Now</a>
      </div>
      <div class="col-lg-12 quantity-btn">
        <a class="btn btn-default print_btn pull-right" href="" type="submit">Add Quantity</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered reserve-table">
          <thead>
            <tr>
              <th>Pickup Date</th>
              <th>Pickup Date</th>
              <th>Pickup Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" placeholder="Enter Date" class="form-control"></td>
              <td><input type="text" placeholder="Enter Date" class="form-control"></td>
              <td><input type="text" placeholder="Enter Time" class="form-control"></td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()" data-dismiss="modal">Close</button>
  </div>
</div>
