<header class="main_bg">
  <div class="container">
    <!-- START  logo -->
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12 nopadding logo-center">
      <a href="index.html">  <img src="assets/images/logo.png" alt="" ></a>
    </div>
    <!-- END  logo -->
    <!-- START  SIGN IN PART -->
    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 req_part">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 eqe_main">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 nopadding ">
          <!-- START-dropdown-wrapper -->
          <div class="cd-dropdown-wrapper">
            <a class="cd-dropdown-trigger eqe_tex" href="#0">Equipments</a>
            <nav class="cd-dropdown">
              <h2>Title</h2>
              <a href="#0" class="cd-close">Close</a>
              <ul class="cd-dropdown-content">
                <li>
                  <form class="cd-search">
                    <input type="search" placeholder="Search...">
                  </form>
                </li>
                <li class="has-children">
                  <a href="#">Clothing</a>

                  <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#0">Menu</a></li>
                    <li class="see-all"><a href="#">All Clothing</a></li>
                    <li class="has-children">
                      <a href="#">Accessories</a>

                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Clothing</a></li>
                        <li class="see-all"><a href="#">All Accessories</a></li>
                        <li class="has-children">
                          <a href="#0">Beanies</a>

                          <ul class="is-hidden">
                            <li class="go-back"><a href="#0">Accessories</a></li>
                            <li class="see-all"><a href="#">All Benies</a></li>
                            <li><a href="#">Caps &amp; Hats</a></li>
                            <li><a href="#">Gifts</a></li>
                            <li><a href="#">Scarves &amp; Snoods</a></li>
                          </ul>
                        </li>
                        <li class="has-children">
                          <a href="#0">Caps &amp; Hats</a>

                          <ul class="is-hidden">
                            <li class="go-back"><a href="#0">Accessories</a></li>
                            <li class="see-all"><a href="#">All Caps &amp; Hats</a></li>
                            <li><a href="#">Beanies</a></li>
                            <li><a href="#">Caps</a></li>
                            <li><a href="#">Hats</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Glasses</a></li>
                        <li><a href="#">Gloves</a></li>
                        <li><a href="#">Jewellery</a></li>
                        <li><a href="#">Scarves</a></li>
                      </ul>
                    </li>

                    <li class="has-children">
                      <a href="#">Bottoms</a>

                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Clothing</a></li>
                        <li class="see-all"><a href="#">All Bottoms</a></li>
                        <li><a href="#">Casual Trousers</a></li>
                        <li class="has-children">
                          <a href="#0">Jeans</a>

                          <ul class="is-hidden">
                            <li class="go-back"><a href="#0">Bottoms</a></li>
                            <li class="see-all"><a href="#">All Jeans</a></li>
                            <li><a href="#">Ripped</a></li>
                            <li><a href="#">Skinny</a></li>
                            <li><a href="#">Slim</a></li>
                            <li><a href="#">Straight</a></li>
                          </ul>
                        </li>
                        <li><a href="#0">Leggings</a></li>
                        <li><a href="#0">Shorts</a></li>
                      </ul>
                    </li>

                    <li class="has-children">
                      <a href="#">Jackets</a>

                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Clothing</a></li>
                        <li class="see-all"><a href="#">All Jackets</a></li>
                        <li><a href="#">Blazers</a></li>
                        <li><a href="#">Bomber jackets</a></li>
                        <li><a href="#">Denim Jackets</a></li>
                        <li><a href="#">Duffle Coats</a></li>
                        <li><a href="#">Leather Jackets</a></li>
                        <li><a href="#">Parkas</a></li>
                      </ul>
                    </li>

                    <li class="has-children">
                      <a href="#">Tops</a>

                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Clothing</a></li>
                        <li class="see-all"><a href="#">All Tops</a></li>
                        <li><a href="#">Cardigans</a></li>
                        <li><a href="#">Coats</a></li>
                        <li><a href="#">Polo Shirts</a></li>
                        <li><a href="#">Shirts</a></li>
                        <li class="has-children">
                          <a href="#0">T-Shirts</a>

                          <ul class="is-hidden">
                            <li class="go-back"><a href="#0">Tops</a></li>
                            <li class="see-all"><a href="#">All T-shirts</a></li>
                            <li><a href="#">Plain</a></li>
                            <li><a href="#">Print</a></li>
                            <li><a href="#">Striped</a></li>
                            <li><a href="#">Long sleeved</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Vests</a></li>
                      </ul>
                    </li>
                  </ul> <!-- .cd-secondary-dropdown -->
                </li> <!-- .has-children -->

                <li class="has-children">
                  <a href="#">Gallery</a>

                  <ul class="cd-dropdown-gallery is-hidden">
                    <li class="go-back"><a href="#0">Menu</a></li>
                    <li class="see-all"><a href="http://codyhouse.co/?p=748">Browse Gallery</a></li>
                    <li>
                      <a class="cd-dropdown-item" href="http://codyhouse.co/?p=748">
                        <img src="assets/images/img.png" alt="Product Image">
                        <h3>Product #1</h3>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item" href="http://codyhouse.co/?p=748">
                        <img src="assets/images/img.png" alt="Product Image">
                        <h3>Product #2</h3>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item" href="http://codyhouse.co/?p=748">
                        <img src="assets/images/img.png" alt="Product Image">
                        <h3>Product #3</h3>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item" href="http://codyhouse.co/?p=748">
                        <img src="assets/images/img.png" alt="Product Image">
                        <h3>Product #4</h3>
                      </a>
                    </li>
                  </ul> <!-- .cd-dropdown-gallery -->
                </li> <!-- .has-children -->

                <li class="has-children">
                  <a href="#">Services</a>
                  <ul class="cd-dropdown-icons is-hidden">
                    <li class="go-back"><a href="#0">Menu</a></li>
                    <li class="see-all"><a href="http://codyhouse.co/?p=748">Browse Services</a></li>
                    <li>
                      <a class="cd-dropdown-item item-1" href="http://codyhouse.co/?p=748">
                        <h3>Service #1</h3>
                        <p>This is the item description</p>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item item-2" href="http://codyhouse.co/?p=748">
                        <h3>Service #2</h3>
                        <p>This is the item description</p>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item item-3" href="http://codyhouse.co/?p=748">
                        <h3>Service #3</h3>
                        <p>This is the item description</p>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item item-4" href="http://codyhouse.co/?p=748">
                        <h3>Service #4</h3>
                        <p>This is the item description</p>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item item-5" href="http://codyhouse.co/?p=748">
                        <h3>Service #5</h3>
                        <p>This is the item description</p>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item item-6" href="http://codyhouse.co/?p=748">
                        <h3>Service #6</h3>
                        <p>This is the item description</p>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item item-7" href="http://codyhouse.co/?p=748">
                        <h3>Service #7</h3>
                        <p>This is the item description</p>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item item-8" href="http://codyhouse.co/?p=748">
                        <h3>Service #8</h3>
                        <p>This is the item description</p>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item item-9" href="http://codyhouse.co/?p=748">
                        <h3>Service #9</h3>
                        <p>This is the item description</p>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item item-10" href="http://codyhouse.co/?p=748">
                        <h3>Service #10</h3>
                        <p>This is the item description</p>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item item-11" href="http://codyhouse.co/?p=748">
                        <h3>Service #11</h3>
                        <p>This is the item description</p>
                      </a>
                    </li>

                    <li>
                      <a class="cd-dropdown-item item-12" href="http://codyhouse.co/?p=748">
                        <h3>Service #12</h3>
                        <p>This is the item description</p>
                      </a>
                    </li>

                  </ul> <!-- .cd-dropdown-icons -->
                </li> <!-- .has-children -->

                <li class="cd-divider">Divider</li>

                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
              </ul> <!-- .cd-dropdown-content -->
            </nav> <!-- .cd-dropdown -->
          </div>
          <!-- END-dropdown-wrapper -->








        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 eqe_main">

        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-1 nopadding ">
          <span class="glyphicon glyphicon-earphone"></span>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-11 nopadding">
          <span class="req_call"><a href="#">  Request Callback</a></span>
        </div>

      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3 eqe_main">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <span class="glyphicon glyphicon-log-in"></span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 nopadding ">
          <span class="req_call"><a href="/#/login">  Sign In</a></span>
        </div>

      </div>
    </div>
    <!-- END  SIGN IN PART -->
    <!-- START  Get Software PART -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  head_btn_main">
      <button type="button" class="btn btn-default get_soft">Get Software</button>
      <a type="button" class="btn btn-default get_soft" href="/#/register" >Get Free Account</a>
    </div>
    <!-- END  Get Software PART -->
    <!-- START  Header Title -->
    <h1 class="rent_tit">Rent and Buy Construction Equipments in Seconds</h1>
    <!-- End  Header Title -->

    <!-- START  RENT/BUY BUTTON -->
    <div class="rent_bt_main">
      <button type="button" class="btn btn-default my-btn">RENT</button>
      <button type="button" class="btn btn-default my-btn active">BUY</button>
    </div>

    <!-- END  RENT/BUY BUTTON -->
    <!-- START  Search box -->
    <div class="search_main">
      <form class="navbar-form" role="search">

        <input type="text" class="form-control search-head" placeholder="Search lifts, boom lifts, forklifts etc" id="query" name="query" ng-model="selectedProduct"
               typeahead="item as item.Product_Name for item in getProducts($viewValue)"
               typeahead-template-url="typeahead-item.html" typeahead-min-length="3" typeahead-on-select="selectSearchedItem($item, $model, $label)">

        <button class="btn btn-default my_search" type="submit" style=" " ng-click="selectSearchedItem()"><i class="glyphicon glyphicon-arrow-right"></i></button>

      </form>


    </div>
    <!-- END  Search box -->
  </div>
</header>
<section>
  <!-- START Equipments -->

  <article class="lift-bg">
    <div class="container">
      <!-- START  Product Lift 1 -->
      <div class="col-lg-2 col-md-2 col-sm-6 lift_part">
        <div class="col-lg-12 col-md-12 col-sm-12 main_box nopadding">

          <div class="lift_pic col-lg-12 col-sm-12 nopadding"><img src="assets/images/engine_powerd_leep.jpg" alt=""></div>
          <div class="lift_name col-lg-12 col-sm-12 nopadding"><a href="#">Engine Powered Boom <br>Lifts</a></div>

        </div>
      </div>
      <!-- End Product Lift 1 -->
      <!-- START  Product Lift 2  -->
      <div class="col-lg-2 col-md-2 col-sm-6 lift_part">
        <div class="col-lg-12 col-md-12 col-sm-12 main_box nopadding">

          <div class="lift_pic col-lg-12 col-sm-12"><img src="assets/images/electric_hybrid.jpg" alt=""></div>
          <div class="lift_name col-lg-12 col-sm-12 nopadding"><a href="#">Electric & Hybrid Boom<br> Lifts</a></div>

        </div>
      </div>
      <!-- End Product Lift 2 -->
      <!-- START  Product Lift 3 -->
      <div class="col-lg-2 col-md-2 col-sm-6 lift_part">
        <div class="col-lg-12 col-md-12 col-sm-12 main_box nopadding">

          <div class="lift_pic col-lg-12 col-sm-12"><img src="assets/images/vertical_lift.jpg" alt=""></div>
          <div class="lift_name col-lg-12 col-sm-12"><a href="#">Vertical Lifts & Stock <br>Pickers</a></div>

        </div>
      </div>
      <!-- End Product Lift 3 -->
      <!-- START  Product Lift 4 -->
      <div class="col-lg-2 col-md-2 col-sm-6 lift_part">
        <div class="col-lg-12 col-md-12 col-sm-12 main_box nopadding">

          <div class="lift_pic col-lg-12 col-sm-12"><img src="assets/images/scissor_lift.jpg" alt=""></div>
          <div class="lift_name col-lg-12 col-sm-12 nopadding"><a href="#">Scissor Lifts</a></div>

        </div>
      </div>
      <!-- End Product Lift 4 -->
      <!-- START  Product Lift 5 -->
      <div class="col-lg-2 col-md-2 col-sm-6 lift_part">
        <div class="col-lg-12 col-md-12 col-sm-12 main_box nopadding">

          <div class="lift_pic col-lg-12 col-sm-12"><img src="assets/images/towable_boomlft.jpg" alt=""></div>
          <div class="lift_name col-lg-12 col-sm-12 nopadding"><a href="#">Towable Boom Lifts</a></div>

        </div>
      </div>
      <!-- End Product Lift 5 -->
      <!-- START  Product Lift 6 -->
      <div class="col-lg-2 col-md-2 col-sm-6 lift_part">
        <div class="col-lg-12 col-md-12 col-sm-12 main_box nopadding">

          <div class="lift_pic col-lg-12 col-sm-12"><img src="assets/images/telehendelers.jpg" alt=""></div>
          <div class="lift_name col-lg-12 col-sm-12 nopadding"><a href="#">Telehandlers</a></div>

        </div>
      </div>
      <!-- End Product Lift 6 -->
    </div>
  </article>
  <!-- End Equipments -->
  <!-- START  Mobile -->

  <article>
    <div class="container">
      <!-- START  Mobile Title/Sub -->
      <h1 class="mob_tit">Manage on the go with mobile devices</h1>

      <h2 class="mob_subtit">Easily manage your fleet from anywhere on your device</h2>
      <!-- End  Mobile Title/Sub -->
      <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <!-- START  Mobile device image -->
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img class="img-responsive" src="assets/images/mobile-bg.png" alt="">
        </div>
        <!-- End  Mobile device image -->
        <!-- START  technology description -->
        <div class="col-lg-5 col-md-5 col-sm-6">
          <div class="tech-menu">
            <ul>
              <li>
                <h2>Technology Title Here</h2>
                <p>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra
                  dui laoreet vulputate dignissim. Sed id metus .
                </p>
              </li>

              <li>
                <h2>Technology Title Here</h2>
                <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
                  odio, ut volutpat massa placerat ac. Curabitur .
                </p>
              </li>
              <li>
                <h2>Technology Title Here</h2>
                <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                  felis odio, ut volutpat massa placerat ac. Curabitur
                  dapibus iaculis.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <!-- End  technology description -->
      </div>
    </div>
  </article>
  <!-- End Mobile -->
  <!-- START  Features -->
  <article class="pay_main">
    <div class="container">
      <!-- START  Features Product 1 -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 pay_part">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 easy_main_box">
          <div class="easy_pic col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="#">
              <!--                                    <img src="images/easy_return.png" alt="">-->
              <span class="glyphicon glyphicon-retweet"></span>
            </a>
          </div>
          <div class="easy_pic_img col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <a href="#">Easy<br>
              Returns
            </a>
          </div>
        </div>
      </div>
      <!-- End  Features Product 1 -->
      <!-- START  Features Product 2 -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 pay_part">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 easy_main_box">
          <div class="easy_pic col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="#">
              <span class="glyphicon glyphicon-usd"></span>
              <!--                                    <img src="images/secure_payment.png" alt="">-->
            </a>
          </div>
          <div class="easy_pic_img col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <a href="#">Secure<br>
              Payment
            </a>
          </div>
        </div>
      </div>
      <!-- End  Features Product 2 -->
      <!-- START  Features Product 3 -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 pay_part">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 easy_main_box">
          <div class="easy_pic col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="#">
              <span class="glyphicon glyphicon-refresh"></span>
              <!--                                    <img src="images/quick_process.png" alt="">-->
            </a>
          </div>
          <div class="easy_pic_img col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <a href="#">Quick<br>
              Process
            </a>
          </div>
        </div>
      </div>
      <!-- End  Features Product 3 -->
      <!-- START  Features Product 4 -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 pay_part">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 easy_main_box">
          <div class="easy_pic col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="#">
              <span class="fa fa-money"></span>


              <!--                                    <img src="images/responsable_pay.png" alt="">-->
            </a>
          </div>
          <div class="easy_pic_img col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <a href="#">Reasonlable<br>
              Price
            </a>
          </div>
        </div>
      </div>
      <!-- End  Features Product 4 -->
      <!-- START  Features Product 5 -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 pay_part">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 easy_main_box">
          <div class="easy_pic col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="#">
              <span class="glyphicon glyphicon-time"></span>
              <!--                                    <img src="images/support.png" alt="">-->
            </a>
          </div>
          <div class="easy_pic_img col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <a href="#">24 x 7<br>
              Support
            </a>
          </div>
        </div>
      </div>
      <!-- End  Features Product 5 -->
      <!-- START  Features Product 6 -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 pay_part">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 easy_main_box">
          <div class="easy_pic col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="#">
              <span class="glyphicon glyphicon-credit-card"></span>
              <!--                                    <img src="images/debitcard.png" alt="">-->
            </a>
          </div>
          <div class="easy_pic_img col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <a href="#">Debit/Credit<br>
              Net Banking
            </a>
          </div>
        </div>
      </div>
      <!-- End  Features Product 6 -->
    </div>
  </article>
  <!-- End Features -->
  <!-- START Partners -->
  <article class="partner_main">
    <div class="container">
      <!-- START Partners logo image 1  -->
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 logo_part text-center">
        <img src="assets/images/afd_client.jpg" alt="">
      </div>

      <!-- End Partners logo image 1 -->
      <!-- START Partners logo image 2  -->
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 logo_part  text-center">

        <img src="assets/images/cvs.jpg" alt="">

      </div>
      <!-- End Partners logo image 2 -->
      <!-- START Partners logo image 3 -->
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 logo_part text-center">

        <img src="assets/images/disney-logo.png" alt="">

      </div>
      <!-- End Partners logo image 3 -->
      <!-- START Partners logo image 4 -->
      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-6 logo_part  text-center">

        <img src="assets/images/fox_news.png" alt="">

      </div>
      <!-- End Partners logo image 4 -->
      <!-- START Partners logo image 5 -->
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 logo_part text-center">

        <img src="assets/images/nascar-logo.png" alt="">

      </div>
      <!-- End Partners logo image 5 -->
      <!-- START Partners logo image 6 -->
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 logo_part text-center">

        <img src="assets/images/warnerbrother_logo.png" alt="">

      </div>
      <!-- End Partners logo image 6 -->
    </div>
  </article>
  <!-- End Partners -->


</section>
<footer>
  <article class="about_main">
    <div class="container">
      <div class="row">
        <!-- START About Us -->
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 about_part">
          <h4>About Us</h4>
          <p>
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
            felis odio, ut volutpat massa placerat ac. Curabitur dapibus
            iaculis. Maecenas eu dictum felis, a dignissim nibh. Mauris
            rhoncus felis odio, ut volutpat massa placerat ac. Curabitur
            dapibus iaculis.
          </p>
          <button type="button" class="btn btn-default sell-equ">Sell Your Equipment</button>
        </div>
        <!-- End About Us -->
        <!-- START Company -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 about_part">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>Company</h4>
            <div class="comp">
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Become a Vendor</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>Contact</h4>
            <div class="cont">
              <ul>
                <li><a href="#">(000) 000-0000</a></li>
                <li><a href="#">(000) 000-0000</a></li>
                <li><a href="#">(000) 000-0000</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Company -->
        <!-- START Location -->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 about_part">
          <h4>Location</h4>
          <p>
            Address Line, Address Line 2,<br>
            Address Line 3.<br>
            City, State.
          </p>
          <button type="button" class="btn btn-default sell-equ">Get Directions</button>
        </div>
        <!-- End Location -->
      </div>
    </div>
  </article>
  <article class="main_foot">
    <div class="container">
      <div class="row">
        <!-- START Copyright -->
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6 copy-text">
          &#9400; Copyright 2014. All Rights Reserved.
        </div>
        <!-- End Copyright -->
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
        <!-- START Social icon -->
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
          <div class="soc_foot">
            <ul>
              <li><a href="#"><img src="assets/images/rss.png" alt=""></a></li>
              <li><a href="#"><img src="assets/images/fb_icon.png" alt=""></a></li>
              <li><a href="#"><img src="assets/images/twiit_icon.png" alt=""></a></li>
              <li><a href="#"><img src="assets/images/linked_icon.png" alt=""></a></li>
            </ul>
          </div>
        </div>
        <!-- End Social icon -->
      </div>
    </div>
  </article>
</footer>
