<section>

  <div style="min-height: 300px;" ng-if="flags.activationInProgress">
    <h4 style="margin: 20px 0 0 40px;">Please wait while we make your account active...</h4>
  </div>
  <article class="main-cantain" ng-if="flags.activationComplete">
    <div class="container">
      <div class="user-activation-container text-center" ng-if="flags.activationSuccessful">
        <h4>Your account is activated successfully</h4>
        <p ><a ui-sref="hmPrelogin.login">Click here to continue  to login</a></p>
      </div>
      <div class="user-activation-container text-center" ng-if="flags.activationError">
        <h4>Activation link is no longer valid</h4>
        <p ><a ui-sref="landing">Go back to Home screen</a></p>
      </div>
    </div>
  </article>
</section>
