<!--watching model:-->
<!--<div class="button" ngf-select ng-model="files">Upload using model $watch</div>-->
<!--<div class="button" ngf-select ngf-change="upload($files)">Upload on file change</div>-->
<!--Drop File:-->
<!--<div ngf-drop ng-model="files" class="drop-box"-->
     <!--ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"-->
     <!--ngf-accept="'image/*,application/pdf'">Drop Images or PDFs files here</div>-->
<!--<img ngf-src="files[0]" ngf-default-src="assets/images/yeoman.png" ngf-accept="'image/*'">-->
<section class="content-top">
  <!-- START  Main Content -->
  <article class="main-cantain">
    <div class="container">
      <!-- START  Equipment Details -->
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 sell-main-part">
        <h2 class="sell_main_tit">Sell Us your Equipment | <span class="sell_sec_tit">We will buy yours even if you don’t buy ours!</span> </h2>
        <hr>
        <h4 class="sell_lebal">Equipment Details</h4>
        <div class="upload_box" ngf-drop ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ng-model="files"  ngf-select  ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'image/*'">
          <div class="upload-area" ng-if="!files[0]">
            <button class="btn btn-primary btn-file">
              <i class="fa fa-plus"></i>
              Add Pictures


            </button>

            <p class="smplyfy_p">OR</p>

            <p class="smplyfy_p">Simply Drag and Drop Photos here</p>
          </div>
          <img ngf-src="files[0]" ng-if="files[0]" ngf-default-src="assets/images/yeoman.png" ngf-accept="'image/*'">

        </div>
        <form role="form" class="form_sell">
          <div class="form-group form-group-sell">
            <span class="in-block fname_in sell_lebal">Category</span>
            <span class="in-block fname_in flot-right sell_lebal">Make and Model</span>

          </div>
          <div class="form-group">
            <select class="form-control in-block fname_in">
              <option>select</option>

            </select>
            <input type="email" class="form-control in-block fname_in flot-right" id="email" placeholder="Enter make and model">
          </div>
          <div class="form-group form-group-sell">
            <span class="in-block fname_in sell_lebal">Location</span>

          </div>
          <div class="form-group">
            <select class="form-control in-block fname_in">
              <option>select</option>

            </select>

          </div>
          <hr class="dash">
          <div class="form-group form-group-sell">
            <span class="in-block fname_in sell_lebal">Hours</span>
            <span class="in-block fname_in flot-right sell_lebal">Year (approx.)</span>

          </div>
          <div class="form-group">
            <input type="email" class="form-control in-block fname_in" id="email" placeholder="Enter hours">
            <input type="email" class="form-control in-block fname_in flot-right" id="email" placeholder="Enter years">
          </div>
          <div class="form-group">
            <label class="sell_lebal">Description</label>
            <textarea class="form-control" rows="5" id="comment" placeholder="Write description about equipment. Max 500 words."></textarea>
          </div>
          <div class="form-group form-group-sell">
            <span class="in-block fname_in sell_lebal">Daily Price</span>
            <span class="in-block fname_in flot-right sell_lebal">Weekly Price</span>

          </div>
          <div class="form-group">
            <input type="email" class="form-control in-block fname_in " id="email" placeholder="Enter daily rent price">
            <input type="email" class="form-control in-block fname_in flot-right " id="email" placeholder="Enter weekly rent price">
          </div>
          <div class="form-group form-group-sell">
            <span class="in-block fname_in sell_lebal">Monthly Price</span>
            <span class="in-block fname_in flot-right sell_lebal">Purchase Price</span>

          </div>
          <div class="form-group">
            <input type="email" class="form-control in-block fname_in" id="email" placeholder="Enter monthly rent price">
            <input type="email" class="form-control in-block fname_in flot-right" id="email" placeholder="Enter purchase price">
          </div>
          <hr>

          <button type="submit" class="btn btn-default flot-right sign_mybtn">Sign Up</button>

        </form>
      </div>
      <!-- End  Equipment Details -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 need_main">
        <!-- START  Noble Iron Help -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 need_part">
          <h2 class="need_title">Need Noble Iron Help?</h2>
          <p class="need_sub">
            We would be more than happy to help you.
            Our team advisors are 24/7 at your service to
            help you.
          </p>
          <p class="help_clr"><a href="#" class="">help@nobleiron.com</a></p>
          <p class="skype_tex"><i class="fa fa-phone"></i>
            1-800-123-HELLO</p>
        </div>
        <!-- End  Noble Iron Help -->
        <!-- START  Why Sell with us -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shell_with">
          <h2 class="need_title">Why Sell with us?</h2>
          <ul>
            <li><i class="fa fa-check-circle"></i>
              <a href="">USP point to go here go here go here</a></li>
            <li><i class="fa fa-check-circle"></i>
              <a href="">USP point to go here go here go here</a></li>
            <li><i class="fa fa-check-circle"></i>
              <a href="">USP point to go here go here go here</a></li>
            <li><i class="fa fa-check-circle"></i>
              <a href="">USP point to go here go here go here</a></li>
            <li><i class="fa fa-check-circle"></i>
              <a href="">USP point to go here go here go here</a></li>
            <li><i class="fa fa-check-circle"></i>
              <a href="">USP point to go here go here go here</a></li>
            <li><i class="fa fa-check-circle"></i>
              <a href="">USP point to go here go here go here</a></li>

          </ul>
        </div>
        <!-- End  Why Sell with us -->
      </div>


    </div>
  </article>

  <!-- End  Main Content -->


</section>
