<div class="container content-top">
  <div style="min-height: 400px;">
    <load-indicator loading="cartFetchInProgress"></load-indicator>
	  <div ng-show="!cartFetchInProgress">
	  	<!-- cart -->
	    <div ng-show="cart">
		    <div class="row">
		      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-bottm-line manage_job_tit manage_job_tit_small shopping-cart-heading">
		        Shopping Cart
		      </div>
		      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bord_dash_bot"></div>
		    </div>
				<div class="row">
		    	<!-- web shopping cart -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cart-col nopadding table-responsive hidden-sm hidden-xs">
						<table class="table cart-table">
							<thead>
								<tr>
									<th></th>
									<th>Equipment</th>
									<th>Quantity</th>
									<!-- <th>Request Dates</th> -->
									<!-- <th>Site Location</th> -->
									<th>Sub-Total</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="product in cart.Product">
									<td class="vertically-middle">
										<i class="fa fa-truck fa-4x"></i>
									</td>
									<td class="equipment-desc">
										<h3>{{product.product_name}}</h3>
										<input type="checkbox" style="margin: 3px 0 0 0;"><span class="marker">Allow Substitution?</span>
										<ul class="price-ul">
											<li>
												<p class="daily_title">Daily</p>
												<p class="daily_price">${{product.product_price.Daily}}</p>
											</li>
											<li>
												<p class="daily_title">Weekly</p>
												<p class="daily_price">${{product.product_price.Monthly}}</p>
											</li>
											<li>
												<p class="daily_title">Monthly</p>
												<p class="daily_price">${{product.product_price.Weekly}}</p>
											</li>
										</ul>
									</td>
									<td class="quantity vertically-middle">
										<input class="form-control" type="text" ng-value="product.product_quantity">
									</td>
									<!-- <td class="duration vertically-middle">
										<p>12 Dec, 2015 - 23:00</p>
										<p class="to">to</p>
										<p>14 Dec, 2015 - 23:00</p>
									</td> -->
									<!-- <td class="area vertically-middle">
										<i class="fa fa-map-marker marker"></i>
										<span>Bay Area, Houstan</span>
										<p><a href="#/update-job-site">Update</a></p>
									</td> -->
									<td class="vertically-middle pricing">${{product.Product_Rate}}</td>
									<td class="vertically-middle delete-icon on-hover-pointer">
			              <a ng-click="deleteProductFromCart(product.product_id)"><i class="fa fa-trash fa-2x"></i></a>
			            </td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- mobile shopping cart -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cart-col nopadding hidden-lg hidden-md">
						<div class="cart-for-mobile">
							<div class="cart-image-div">
								<i class="fa fa-truck fa-4x"></i>
							</div>
							<div class="equipment-desc">
								<h3>Electric Equipment Wide-16 "</h3>
								<input type="checkbox" style="margin: 3px 0 0 0;"><span class="marker">Allow Substitution?</span>
								<p class="qty-head">Quantity</p>
								<input class="form-control" type="text" value="1">
								<i class="fa fa-map-marker marker"></i>
								<span>Bay Area, Houstan</span>
								<span class="pull-right"><a href="#/update-job-site">Update</a></span>
								<p class="sub-total">Sub-Total: &nbsp $3556
									<span class="pull-right"><a href="">Delete</a></span>
								</p>
							</div>
						</div>
						<div class="cart-for-mobile">
							<div class="cart-image-div">
								<i class="fa fa-truck fa-4x"></i>
							</div>
							<div class="equipment-desc">
								<h3>Electric Equipment Wide-16 "</h3>
								<input type="checkbox" style="margin: 3px 0 0 0;"><span class="marker">Allow Substitution?</span>
								<p class="qty-head">Quantity</p>
								<input class="form-control" type="text" value="1">
								<!-- <i class="fa fa-map-marker marker"></i>
								<span>Bay Area, Houstan</span>
								<span class="pull-right"><a href="#/update-job-site">Update</a></span> -->
								<p class="sub-total">Sub-Total: &nbsp $3556
									<span class="pull-right"><a href="">Delete</a></span>
								</p>
							</div>
						</div>
						<div class="cart-for-mobile">
							<div class="cart-image-div">
								<i class="fa fa-truck fa-4x"></i>
							</div>
							<div class="equipment-desc">
								<h3>Electric Equipment Wide-16 "</h3>
								<input type="checkbox" style="margin: 3px 0 0 0;"><span class="marker">Allow Substitution?</span>
								<p class="qty-head">Quantity</p>
								<input class="form-control" type="text" value="1">
								<!-- <i class="fa fa-map-marker marker"></i>
								<span>Bay Area, Houstan</span>
								<span class="pull-right"><a href="#/update-job-site">Update</a></span> -->
								<p class="sub-total">Sub-Total: &nbsp $3556
									<span class="pull-right"><a href="">Delete</a></span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 promo-code">
						<input type="text" placeholder="Promo code" class="form-control">
						<button class="btn sign_mybtn all-btn primary-btn">Apply</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 total-price">
						<div class="total-price-div">
							<h3>
								<label>Sub-Total Rental:</label>
								<span>${{cart.Sub_Total}}</span>
							</h3>
							<h3>
								<label>Environmental Fee:</label>
								<span>${{cart.Charges['ENVIRONMENTAL FEE']}}</span>
							</h3>
							<h3>
								<label>Equipment Protection Program:</label>
								<span>${{cart.Charges['EQUIPMENT PROTECTION PROGRAM']}}</span>
							</h3>
							<h3>
								<label>Taxes:</label>
								<span>${{cart.Charges['ESTIMATED TAXES']}}</span>
							</h3>
							<h3>
								<label class="total">Total:</label>
								<span class="total">${{cart.Grand_Total}}</span>
							</h3>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bord_dash_bot"></div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 cont-rent-btn">
						<button class="btn sell-equ all-btn cont-renting" ng-click="$state.go('hm.search.results')"><i class="fa fa-chevron-left"></i> &nbsp
							Continue Renting
						</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 reserve-generate-btn">
						<a href="#/jobsite-rent" class="btn sign_mybtn all-btn primary-btn">Continue</a>
						<!-- <button class="btn sign_mybtn all-btn primary-btn">Reserve Now</button> -->
					</div>
				</div>
			</div>
			<!-- empty cart -->
			<div ng-show="!cart" class="pull-center">
				<h3 class="heading-text cart-empty pull-center">
			  	Your Cart is empty!. Click go back to search and add products to your cart.
				</h3>
				<button class="btn sell-equ all-btn cont-renting" ng-click="$state.go('hm.search.results')"><i class="fa fa-chevron-left"></i> &nbsp
					Continue Renting
				</button>
				<!-- <a ui-sref="hm.search.results"> Go Back</a> -->
			</div>
		</div>
  </div>
</div>
