<div class="row job-header-row">
  <div class="col-md-12 job-site-header">
    <p>Select Substitute<a class="close-cross pull-right"  ng-click="$dismiss()" aria-label="Close"><i class="fa fa-times marker on-hover-pointer"></i></a></p>
  </div>
</div>
<div class="row fields-row">
  <div class="col-md-12 site-col">
    <input type="text" class="form-control search-head-without" name="q" autocomplete="off" placeholder="Search lifts, boom lifts, forklifts etc" id="top-query" name="query" ng-change="showAutocomplete = true" ng-model="selectedProduct"
           typeahead="item as item.Product_Name for item in getProducts($viewValue)"
           typeahead-on-select="selectSearchedItem($item, $model, $label)"
           typeahead-template-url="typeahead-item.html">
  </div>
</div>

<div class="row nomargin">
  <div class="col-md-12 site-col">
    <button class="btn sign_mybtn all-btn primary-btn pull-right" ng-click="deleteJobSiteConfirm(jobsite)">
      <span btn-load-indicator="Delete:JobSite:Process">Delete</span>
    </button>
    <button class="btn sell-equ all-btn popup-white-btn" ng-click="$dismiss()">Cancel</button>
  </div>
</div>
