<div class="row cart-duration-cont">
  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 leftpadding duration-leftpadding-small">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 leftpadding">
      <h3 class="heading-text devider-bottom topmargin">How long do you need it?</h3>
    </div>
    <!-- Enter Duration Period -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 job-site-list select-date-time duration-time leftpadding">
      <p class="desc-text">Start Renting From</p>
      <div class="form-control search-div select-date" >
        <input type="text"  datetime-picker="MM/dd/yyyy HH:mm:a" ng-model="cartData.duration.fromDt" is-open="fromDtOpened"  placeholder="mm/dd/yyyy" ng-change="deliveryTimeChange('fromDt')"/>
        <i class="fa fa-calendar pull-right" ng-click="fromDtOpened= !fromDtOpened"></i>
      </div>
      <!--<div class="form-control search-div select-date">-->
        <!--<input type="text"  datetime-picker="HH:mm" enable-date="false" ng-model="cartData.rentingPeriod.fromTime" is-open="fromTimeOpened" placeholder="HH:MM" />-->

        <!--<i class="fa fa-clock-o pull-right" ng-click="fromTimeOpened= !fromTimeOpened"></i>-->
      <!--</div>-->
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 job-site-list select-date-time duration-time rightpadding duration-rightpadding-small leftpadding-small">
      <p class="desc-text">Return Details</p>
      <div class="form-control search-div select-date">
        <input type="text" datetime-picker="MM/dd/yyyy HH:mm:a"  ng-model="cartData.duration.toDt" is-open="toDtOpened" placeholder="mm/dd/yyyy" ng-change="deliveryTimeChange('toDt')"/>
        <i class="fa fa-calendar pull-right" ng-click="toDtOpened= !toDtOpened"></i>
      </div>
      <!--<div class="form-control search-div select-date">-->
        <!--<input type="text"  datetime-picker="HH:mm" enable-date="false" ng-model="cartData.rentingPeriod.toTime" is-open="toTimeOpened" placeholder="HH:MM" />-->
        <!--<i class="fa fa-clock-o pull-right" ng-click="toTimeOpened= !toTimeOpened"></i>-->
      <!--</div>-->
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-date-heading leftpadding">
      <h3 class="heading-text">{{cartData.duration.span}}<span class="desc-text"> (if returned by 3PM, wednesday)</span></h3>
      <p class="desc-text">You can keep it longer or shorter, but the price is based on this estimated duration.</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bord_dash_bot nopadding"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 leftpadding">
      <h3 class="heading-text devider-bottom">How do you want to get it?</h3>
    </div>
    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <input type="radio" name="get-option">
        <span class="heading-text">Delivery and Pickup to selected Jobsite Location </span>
        <p class="desc-text"></p>
    </div> -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 leftpadding nopadding-small">
      <div class="pickup-delivery " ng-class="{'active-pickup-delivery': cartData.duration.deliveryPreference == 'self'}">
        <input type="radio" name="get-option" ng-model="cartData.duration.deliveryPreference" value="self" checked="checked">
        <span class="go-back-text">Pickup these items yourself</span>
        <p class="desc-text pickup-desc">Upon compilation of this order, you will receive a confirmation email with the pickup location. Call (123) 456-7890 with any questions or concerns.</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 nopadding-small rightpadding">
      <div class="pickup-delivery delivery-xs" ng-class="{'active-pickup-delivery': cartData.duration.deliveryPreference == cartData.delivery.selectedJobSite}">
        <input type="radio" name="get-option" ng-model="cartData.duration.deliveryPreference" ng-value="cartData.delivery.selectedJobSite" ng-disabled="(cartData.delivery.selectedJobSite | isEmpty)">
        <span class="go-back-text" >Delivery to selected Jobsite Location </span>
        <p class="desc-text" ng-if="(cartData.delivery.selectedJobSite | isEmpty)"><i class="fa fa-exclamation-circle"></i> &nbsp No Jobsite Selected</p>
        <div class="pickup-desc" ng-if="!(cartData.delivery.selectedJobSite | isEmpty)">
          <i class="fa fa-map-marker color-blue heading-text"></i>
          <span class="desc-text" >{{cartData.delivery.selectedJobSite.Site_Name}}</span>
          <br>
          <p class="desc-text address">{{cartData.delivery.selectedJobSite.Address1}}</p>
          <p class="desc-text address">{{cartData.delivery.selectedJobSite.Address2}}</p>
          <p class="desc-text address">{{cartData.delivery.selectedJobSite.City}}&nbsp;{{cartData.delivery.selectedJobSite.Prov}}</p>
          <p class="zip desc-text address">Zip Code: {{cartData.delivery.selectedJobSite.Postal}}</p>
          <i class="fa fa-phone-square color-blue heading-text"></i>
          <span class="color-blue desc-text number">{{cartData.delivery.selectedJobSite.Phone}}</span>
          <i class="fa fa-user  color-blue heading-text"></i>
		  				<span class="color-blue desc-text">
		  					{{cartData.delivery.ContactInfo.firstName}}&nbsp;{{cartData.delivery.ContactInfo.lastName}}
		  				</span>
        </div>
      </div>
    </div>
  </div>



  <!-- cart summary part -->
  <div ui-view="snapshot"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bord_dash_bot devider devider-bottom"></div>
  <div class="row nomargin review-btn-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
      <button class="btn all-btn sell-equ btn-right-margin"  ui-sref="hm.cart.updateAddress">
        <i class="fa fa fa-chevron-left"></i>&nbsp
        Back
      </button>
      <button class="btn all-btn sign_mybtn primary-btn autowidth" ng-disabled="!cartData.steps.duration.complete" ui-sref="hm.cart.review">
        Next
        &nbsp<i class="fa fa fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
