<div class="row">

  <!-- select and add jobsite part -->
  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 lr-padding">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lr-padding lr-padding-small">
      <ul class="nav nav-tabs gride-tab root-category">
        <li class="active">
          <a tabtoggle data-toggle="tab" href="#existing-job">Existing Job Sites</a>
        </li>
        <li>
          <a tabtoggle data-toggle="tab" href="#add-new-job" ng-click="hackMapLoad()">Add New</a>
        </li>
      </ul>
    </div>
    <!-- update existing job -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 update-exist tab-pane fade in active lr-padding" id="existing-job">

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 job-site-list update-job lr-padding lr-padding-small">
        <div class="form-control search-div">
          <i class="fa fa-search"></i>
          <input type="text" placeholder="Search" ng-model="searchJosite">
        </div>
        <div class="job-lists bottommargin">
          <div ng-repeat="site in cartData.jobsites | filter:searchJosite">
            <input type="radio" name="Site Name" ng-click="selectJobsite(site)" ng-checked="site.SiteID == selectedJobSite.SiteID">
            <span>{{site.Site_Name}}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 job-site-detail" ng-if="!(selectedJobSite | isEmpty)">
        <h4>Details</h4>
        <i class="fa fa-map-marker marker"></i>
        <span>{{selectedJobSite.Site_Name}}</span>
        <br>
        <p>{{selectedJobSite.Address1}}</p>
        <p>{{selectedJobSite.Address2}}</p>
        <p>{{selectedJobSite.City}}&nbsp;{{selectedJobSite.Prov}}</p>
        <p class="zip">Zip Code: {{selectedJobSite.Postal}}</p>
        <i class="fa fa-phone-square zip marker"></i>
        <span class="marker">{{selectedJobSite.Phone}}</span>
        <br>
        <i class="fa fa-user marker"></i>
  				<span class="marker">
  					Name of Contact Person
  				</span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-date-heading lr-padding lr-padding-small">
        <h3 class="heading-text">Contact Information</h3>
        <p class="desc-text">This is for in case we need to contact you about your order or at Jobsite Location Details</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 job-site-list select-date-time lr-padding lr-padding-small">
        <div class="form-control search-div">
          <input type="text" placeholder="First Name">
          <i class="fa fa-user pull-right"></i>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 job-site-list select-date-time">
        <div class="form-control search-div">
          <input type="text" placeholder="Last Name">
          <i class="fa fa-user pull-right"></i>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 job-site-list select-date-time lr-padding lr-padding-small">
        <div class="form-control search-div">
          <input type="text" placeholder="Email">
          <i class="fa fa-envelope-o pull-right"></i>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 job-site-list select-date-time">
        <div class="form-control search-div">
          <input type="text" placeholder="Phone Number">
          <i class="fa fa-phone pull-right"></i>
        </div>
      </div>
      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 special-instruction heading-border">
        <textarea class="form-control desc-text">Special Instructions</textarea>
      </div> -->
    </div>

    <!-- add new job -->
    <div id="add-new-job" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-pane fade update-exist">
      <div class="row fields-row">
        <!--<input type="text" id="Autocomplete" ngModel="result1" class="form-control" />-->
        <div class="col-md-12 site-col">
          <input type="text" placeholder="Job Site Name" class="form-control" ng-model="address.jobsite">
        </div>
        <div class="col-md-12 other-col">
          <input type="text" placeholder="City" class="form-control" ng-model="address.route">
        </div>
        <div class="col-md-6 other-col">
          <input type="text" placeholder="Address" class="form-control" ng-model="address.locality">
        </div>
        <div class="col-md-6 other-col">
          <input type="text" placeholder="State" class="form-control" ng-model="address.administrative_area_level_1">
        </div>
        <div class="col-md-6 other-col">
          <input type="text" placeholder="Zip Code" class="form-control" ng-model="address.postal_code">
        </div>
        <div class="col-md-6 other-col">
          <input type="text" placeholder="Phone" class="form-control" ng-model="address.phone">
        </div>
        <div class="col-md-6 other-col" id="searchbox">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <script type="text/ng-template" id="searchbox.tpl.html">
            <input type="text" class="form-control" placeholder="Search Location"/>
          </script>
          <div class="jobsite-lookup" ng-if="showMap" >
            <ui-gmap-google-map
              center="map.center"
              zoom="map.zoom"
              options="map.options"
              pan="true"
              refresh="showMap"
              >
              <ui-gmap-search-box options="searchbox.options" template="'searchbox.tpl.html'" parentdiv="'searchbox'"
                                  events="searchbox.events" position="'TOP_CENTER'"></ui-gmap-search-box>
            </ui-gmap-google-map>
          </div>
        </div>
      </div>
      <div class="row nomargin">
        <div class="col-md-12 site-col">
          <button class="btn sign_mybtn all-btn primary-btn" ng-click="addJobSite()">Add Job Site</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bord_dash_bot nopadding visible-sm visible-xs devider devider-bottom"></div>

  <!-- cart summary part -->
  <div ui-view="snapshot"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bord_dash_bot"></div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 cont-rent-btn ">
      <button class="btn sell-equ all-btn cont-renting" ng-click="$state.go('hm.search.results')"><i class="fa fa-chevron-left"></i> &nbsp
        Continue Renting
      </button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 reserve-generate-btn">
      <button class="btn sign_mybtn all-btn primary-btn reser-now cont" ui-sref="hm.cart.cartDuration">Next</button>
    </div>
  </div>
</div>
