<div class="row">

  <div class="col-md-3">
    <div ng-include="'app/views/templates/sidebar.html'"></div>
  </div>
  <div class="col-md-9">
    <section class="content-header">
      <h1>
        MANAGE JOB SITES
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Manage Job Sites</li>
      </ol>
      <div class="clearfix">
        <div class=" pull-right">
          Map View/ List View
        </div>
      </div>
    </section>
    <section class="content">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </section>
  </div>
</div>
