
<!-- START  header -->

<header class="head_without_index">
  <div class="container">
    <!-- START  logo -->
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12 nopadding logo-center">
      <a href="index.html">  <img src="/assets/images/logo.png" alt="" ></a>
    </div>
    <!-- END  logo -->
    <!-- START  Search box -->
    <div class="col-lg-7 col-md-6 col-sm-4 col-xs-12">

      <form class="navbar-form my-search-nav" role="search">

        <input type="text" class="form-control search-head-without" placeholder="Search for equpiment, parts, etc..." name="q">

        <button class="btn btn-default my_search" type="submit" style=" "><i class="glyphicon glyphicon-arrow-right"></i></button>

      </form>



    </div>
    <!-- END  Search box -->
    <div class="col-lg-4 col-md-2 col-sm-6 col-xs-12 my_alc">
      <div class="cart_menu">
        <ul>
          <li>
            <a href="#">

              <i class="fa fa-shopping-cart fa-2x"></i></a>
            <span class="cart_noti">1</span>

          </li>
          <li>
            <a href="#">
              <i class="fa fa-bell-o fa-2x"></i>



            </a>
            <span class="noti">5</span>
          </li>
        </ul>
      </div>
      <div class="btn-group drop-btn" >
        <button class="btn btn-mini my-alc-btn"><img class="pro_pic" src="images/pro_pic.png">hiren2hiren</button>
        <button class="btn btn-mini dropdown-toggle my-alc-btn-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- End header -->
