<div class="box box-solid">
  <div class="box-body no-padding">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="/#/dashboard"><i class="fa fa-inbox"></i> Dashboard </a></li>
      <li><a href="#"><i class="fa fa-envelope-o"></i> My Catalog</a></li>
      <li><a href="/#/manage/job-sites"><i class="fa fa-file-text-o"></i> Manage Job Site</a></li>
      <li><a href="#"><i class="fa fa-filter"></i> My Account</a></li>
      <li><a href="#"><i class="fa fa-trash-o"></i>Quote & Reservation</a></li>
      <li><a href="#"><i class="fa fa-trash-o"></i>Make Payments</a></li>
      <li><a href="/#/invoices"><i class="fa fa-trash-o"></i>Invoices</a></li>
    </ul>
  </div><!-- /.box-body -->
</div><!-- /. box -->
<div class="box box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">Request</h3>
    <div class="box-tools">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
  </div>
  <div class="box-body no-padding">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> Pick up Request</a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Service Request</a></li>
      <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Credit Request</a></li>
      <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Quick Request</a></li>
    </ul>
  </div><!-- /.box-body -->
</div><!-- /.box -->
