<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nopadding my-bottm-line manage_job_tit">
    Invoices
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right nopadding my-bottm-line dash_board_tit">
    <input type="text" placeholder="Search Invoices" ng-model="query" ng-change="fetchInvoices()" class="form-control pull-right mng-search-bar">
    <!-- <span class="dash_board_light">Home</span>/ <span class="dash_board_bold">Dashboard</span> -->
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bord_dash_bot bord_dash_bot_small"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 manage-job-btn-col invoices-btn-div">
    <button class="btn btn-default pull-right manage-job-btn deactivate list all-btn" ng-class="{'active primary-btn' : flags.outstanding}" ng-click="toggleInvoiceView(true)">Outstanding</button>
    <button class="btn btn-default pull-right manage-job-btn deactivate map all-btn" ng-click="toggleInvoiceView(false)" ng-class="{'active primary-btn' : !flags.outstanding}">All Invoices</button>
  </div>
  <!-- <section class="content-header">
    <h1>
      Invoices
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Invoices</li>
    </ol>
    <div class="clearfix">
      <div class="box-tools pull-left">
        <div class="has-feedback">
          <input type="text" class="form-control input-sm" placeholder="Search Invoices">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </div>

      <div class=" pull-right">
        All Invoices/ Outstanding
      </div>
    </div>
  </section> -->

  <!-- <table class="table table-striped" ng-if="invoices.length">
    <thead>
    <tr>
      <th>Invoices</th>
      <th>Job Sites</th>
      <th>Contract #</th>
      <th>Purchase Order</th>
      <th>Total</th>
      <th>Due Amount</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="invoice in invoices">
      <td class="invoice-no">{{invoice.InvoiceID}}</td>
      <td>{{invoice.Site_Name}}</td>
      <td>{{invoice.Source}}</td>
      <td>{{invoice.Purchase_Order_ID}}</td>
      <td>{{invoice.Total}}</td>
      <td>{{invoice.Balance}}</td>
      <td>
        <a href="#"><i class="fa fa-eye"></i></a>
        <a href="#"><i class="fa fa-download"></i></a></td>
    </tr>
    </tbody>
  </table> -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding"><hr class="devider"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding hidden-xs">
    <table class="table table-striped quotes-table">
      <thead>
      <tr>
        <th>Invoices</th>
        <th>Job Sites</th>
        <th>Contract #</th>
        <th>Purchase Order</th>
        <th>Total</th>
        <th>Due Amount</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="invoice in invoices">
        <td><a href="" class="invoice-no">{{invoice.InvoiceID}}</a></td>
        <td>{{invoice.Site_Name}}</td>
        <td>{{invoice.Source}}</td>
        <td>{{invoice.Purchase_Order_ID}}</td>
        <td>{{invoice.Total}}</td>
        <td>{{invoice.Balance}}</td>
        <td>
          <a href="#" class="invoice-no view-down"><i class="fa fa-eye invoice-no"></i></a>
          <a href="#" class="invoice-no view-down"><i class="fa fa-download invoice-no"></i></a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 visible-xs">
    <div ng-repeat="invoice in invoices" class="invoices-small">
      <p class="bold-font desc-text">Invoice
        <a href="#" class="invoice-no pull-right"><span># {{invoice.InvoiceID}}</span></a>
      </p>
      <p class="bold-font desc-text">{{invoice.Site_Name}}</p>
      <p class="desc-text">{{invoice.Source}}</p>
      <p class="desc-text bold-font">Total:&nbsp {{invoice.Total}}
        <span class="desc-text bold-font pull-right">Due Amount{{invoice.Balance}}</span>
      </p>
      <div>
        <button class="btn primary-btn all-btn sign_mybtn  autowidth"><i class="fa fa-eye white-color"></i>&nbsp View</button>
        <button class="btn primary-btn all-btn sign_mybtn  autowidth"><i class="fa fa-download white-color"></i>&nbsp Download</button>
      </div>
    </div>
  </div>
</div>
