<section>
  <!-- START  Main Content -->
  <article class="main-cantain">
    <div class="container">
      <!-- START  My Orders  -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 req_job_tit">
        My Account/ My Orders
        <hr>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 req_job_tit">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default my-order-panal" ng-repeat="order in orders">
            <div class="panel-heading">
              <h4 class="panel-title order_panel">

                <a data-toggle="collapse" data-parent="#accordion" ng-click="toggleAccordian(order)" aria-expanded="true" class="">
                  <span class="order_tit_list">{{order.orderNo}}</span>| <span class="order_tit_pump">{{order.title}}</span>|
                  <span class="order_tit_rent">Rented for {{order.RentedForDays}} Days</span>

                  <span class="total_order_d">Order Total: ${{order.totalAmount}}<i class="fa fa-angle-down fa-2x down_arrow_accordian"></i></span>
                </a>

              </h4>
            </div>
            <div class="panel-collapse collapse" ng-class="{'in': order.toggleOpened}" aria-expanded="true" style="">
              <div class="panel-body">
                <div class="col-lg-11 col-md-11 col-sm-8 col-xs-8">{{order.orderNo}}</div>
                <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4 text-right">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 req_dash_botam order_bot"></div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 order_img">
                  <img src="assets/images/order-history.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 order_text">
                  <h3 class="gas_title">{{order.title}}</h3>
                  <h4 class="rent_title">Rented for {{order.RentedForDays}} Days</h4>
                  <h5 class="order_his_title">Order Total: ${{order.totalAmount}}</h5>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 treack_main_order">
                  <button type="button" class="btn btn-default print_btn">Track Order</button>
                  <button type="button" class="btn btn-default print_btn">Write a Review for Order</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 sell-main-part">


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 req_mar">


          <hr class="req_dash_botam">
          <h3 class="req_job_tit">Track Reservation Status</h3>
          <p class="comferm_email_tex">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
          </p>
          <p class="theme_clr">
            Track Here
          </p>
          <button type="button" class="btn btn-default " data-toggle="modal" data-target="#myModal">help</button>
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">Let us help you out</h4>
                </div>
                <div class="modal-body" style="overflow: hidden;">
                  <form role="form">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Name</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter a valid email address">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Company Name </label>
                        <input type="email" class="form-control" id="email" placeholder="(xxx)-xxx-xxxxx">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email">What do you need?</label>
                      <input type="email" class="form-control" id="email" placeholder="Type of equipment, service, parts, etc.">
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">When do you need it?</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter a valid email address">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">email</label>
                        <input type="email" class="form-control" id="email" placeholder="(xxx)-xxx-xxxxx">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter a valid email address">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Phone</label>
                        <input type="email" class="form-control" id="email" placeholder="(xxx)-xxx-xxxxx">
                      </div>
                    </div>


                  </form>


                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-default print_btn">Request Further Information</button>
                  <!--                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
              </div>

            </div>
          </div>
          <hr class="req_dash_botam">
          <h3 class="req_job_tit">FAQ’s Regarding Orders</h3>
          <p class="comferm_email_tex">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
          </p>
          <p class="theme_clr">
            Go to FAQ’s
          </p>
          <hr class="req_dash_botam">
        </div>
      </div>
      <!-- End  My Orders  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 need_main">
        <!-- START  Need Assistance -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 need_part">
          <h2 class="need_title">Need Assistance?</h2>
          <p class="need_sub">
            We would be more than happy to help you.
            Our team advisors are 24/7 at your service to
            help you.
          </p>
          <p class="help_clr"><a href="#" class="">help@nobleiron.com</a></p>
          <p class="skype_tex"><i class="fa fa-phone"></i>
            1-800-123-HELLO</p>
        </div>
        <!-- End  Need Assistance -->

      </div>


    </div>
  </article>

  <!-- End  Main Content -->


</section>
