<section>
  <!-- START  Main Content -->
  <article class="main-cantain">
    <div class="container">
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
        <h4 class="signin_teg">Noble Iron offers equipment for rent, equipment for sale, and software applications for
          the construction and industrial equipment industry</h4>

        <div class="row rental_main">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <img src="/assets/images/rent.png" alt="">
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
            <h6 class="rent_title">Equipment Rental</h6>

            <p class="rent_subtit">Mention something related to this title here mention something here.</p>
          </div>
        </div>
        <div class="row rental_main">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <img src="/assets/images/sale.png" alt="">
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
            <h6 class="rent_title">Equipment Sales</h6>

            <p class="rent_subtit">Mention something related to this title here mention something here.</p>
          </div>
        </div>
        <div class="row rental_main">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 ">
            <img src="/assets/images/soft.png" alt="">
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
            <h6 class="rent_title">Software</h6>

            <p class="rent_subtit">Mention something related to this title here mention something here.</p>
          </div>
        </div>
      </div>
      <!-- START  LOGIN/REGISTER TAB -->
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 login_page forgot-password-col">

        <div class="panel panel-default">
          <div class="panel-body">
            <div ng-show="!flags.forgotPasswordNotifyInitiated">
              <form role="form" name="forgotPasswordForm" novalidate valdr-type="User">
                <h3 class="heading">Forgot Password?</h3>
                <span id="helpBlock" class="help-block">Enter the email address associated with your Nobleiron account. We will get back to you with instructions to reset password.</span>
                <div class="form-group">
                  <input type="email" autocomplete="off" class="form-control" ng-model="forgotPasswordData.email" name="email"
                         ng-required="true" placeholder="Enter email">
                </div>
                <a href="#/login" class="btn btn-default pull-right" style="margin-left: 10px;">Cancel</a>
                <button type="submit" ng-click="notifyForgotPassword()" class="btn btn-default sign_mybtn pull-right">Submit</button>
              </form>
            </div>
            <div ng-show="flags.forgotPasswordNotifyInitiated">
              We sent you an instruction to reset password. Please check your email.
            </div>


          </div>
        </div>

      </div>
      <!-- End  LOGIN/REGISTER TAB -->
    </div>
  </article>

  <!-- End  Main Content -->


</section>
