<div class="clearfix">
  <div class="col-md-4  lift_box nopadding" ng-repeat="item in results">

    <figure>
      <a ui-sref="hm.equipmentDetails({id: item.Product_Id})"><img ng-src="{{item.Product_Image[0].ProductImage_Path}}" alt=""/></a></figure>
    <div class="certified_box">
      <img src="assets/images/certified.png">
      <br>
      <!-- <div class="star_rate">
        <a  > <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i></a>
      </div>
 -->    </div>

    <h4 class="lift_box_tit"><a ui-sref="hm.equipmentDetails({id: item.Product_Id})">{{item.Product_Name}}</a></h4>
    <h5 class="lift_box_subtit">by <span class="lift_box_vendor"><a ui-sref="hm.equipmentDetails({id: item.Product_Id})">{{item.MAKE}}</a></span>
      <a   class="pull-right rating-stars"> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i></a>
    </h5>
    <div class="daily_ul">
      <ul>
        <li>
          <p class="daily_title">Daily</p>
          <p class="daily_price">${{item.Product_Price.Daily}}</p>
        </li>
        <li>
          <p class="daily_title">Weekly</p>
          <p class="daily_price">${{item.Product_Price.Weekly}}</p>
        </li>
        <li>
          <p class="daily_title">Monthly</p>
          <p class="daily_price">${{item.Product_Price.Monthly}}</p>
        </li>
      </ul>
    </div>
    <div class="heart reserve-btns">
          <a href=""><i class="fa fa-eye fa-2x pull-left"></i></a>
          <button ui-sref="hm.reserveEquipment({id :item.Product_Id})" type="button" class="btn all-btn my-reserve sell-equ" ng-disabled="item.alreadyExistsInCart" ng-class="{'add=top': !item.Is_in_catelog, 'is-added': item.Is_in_catelog }">Add{{item.alreadyExistsInCart ? 'ed' : ''}} to Cart</button>
          <!--<a ng-href="/#/equipments/{{item.Product_Id}}/reserve" type="button" class="btn my-reserve all-btn">Reserve</a>-->
          <a ng-click="addToOrRemoveFromWishList(item)"><i class="fa fa-heart fa-2x pull-right" btn-load-indicator="Add:Wishlist:Process"  btn-uid="item.Product_Id" ng-class="{'wish-added': item.Is_in_catelog}"></i></a>
    </div>
  </div>
</div>
