<div class="row nomargin">
  <!-- <div class="col-md-12" ng-if="results.length"><hr class="dash"></div> -->
  <div class="col-md-12 col-sm-6 col-xs-12 list-product" ng-repeat="item in results track by $index">
    <div class="col-md-3 lift-list">
      <figure class="search-res-figure">
        <a ng-href="/#/equipments/{{item.Product_Id}}"> <img ng-src="{{item.Product_Image[0].ProductImage_Path}}" class="search-res-img"></a>
      </figure>
    </div>
    <div class="col-md-6 nopadding">
      <h4 class="lift_box_tit"><a ng-href="/#/equipments/{{item.Product_Id}}">{{item.Product_Name}}</a></h4>
      <h5 class="lift_box_subtit">by <span class="lift_box_vendor"><a href="#">{{item.MAKE}}</a></span></h5>
      <div class="col-md-3 star_list">
        <div class="star-list-top">
          <a href="#"> <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i></a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="daily_ul">
          <ul>
            <li>
              <p class="daily_title">Daily</p>
              <p class="daily_price">${{item.Product_Price.Daily}}</p>
            </li>
            <li>
              <p class="daily_title">Weekly</p>
              <p class="daily_price">${{item.Product_Price.Weekly}}</p>
            </li>
            <li>
              <p class="daily_title">Monthly</p>
              <p class="daily_price">${{item.Product_Price.Monthly}}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class=" heart_list">
          <ul>
            <li>
              <a href=""><i class="fa fa-eye fa-lg list-icon-top"></i>
                <span class="eye_view">357 views</span>
              </a>

            </li>
            <li>
              <a href=""> <i class="fa fa-clock-o fa-icon-clr fa-lg list-icon-top"></i>
              </a>
              <span class="eye_view">7 Times Rented</span>

            </li>
            <li>
              <a href=""><i class="fa fa-share-alt fa-icon-clr fa-lg list-icon-top"></i>
              </a>
              <span class="eye_view">26 Shares</span>

            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-3 right-btn-col">
      <button ui-sref="hm.reserveEquipment({id :item.Product_Id})" type="button" class="btn all-btn my-reserve sell-equ" ng-disabled="item.alreadyExistsInCart" ng-class="{'is-added add-top': item.Is_in_catelog, 'add-top': !item.Is_in_catelog }">Add{{item.alreadyExistsInCart ? 'ed' : ''}} to Cart</button>
      <button type="button" class="btn add-list all-btn sell-equ add-top" ng-click="addToOrRemoveFromWishList(item)">
        <span btn-load-indicator="Add:Wishlist:Process" btn-uid="item.Product_Id">{{item.Is_in_catelog ? 'Added to Catalog': 'Add to Catalog'}}</span>
      </button>
    </div>
    <!-- <div class="col-md-12"><hr class="dash"></div> -->
  </div>
</div>
