<section class="content-top">
  <!-- START  Main Content -->
  <article class="main-cantain search-main-contain">
    <div class="container">
      <load-indicator loading="!flags.categoriesFetched"></load-indicator>
      <div class="row" ng-show="flags.categoriesFetched">

        <!-- START  Filter Results side -->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 filter_side show-for-small" ng-class="{'show-filter': showFilter}">
          <div class="col-lg-12">
            <i class="fa fa-filter fa-lg"></i>
            <span class="filter">Filter Results</span>
          </div>
          <div class="col-lg-12 category_filter1">
            <h5 class="cat_side_title">Category
              <span class="cat_minus"><a ng-click="flags.categoryCollapse = !flags.categoryCollapse" data-toggle="collapse" data-target="#catename"><i class="fa fa-lg" ng-class="{'fa-minus-square' : !flags.categoryCollapse,'fa-plus-square ' : flags.categoryCollapse }"></i></a></span>
            </h5>
            <div ng-repeat="subcategories in selectedRootCategory.children" class="root-categories">
              <div>
                <ul class="categories" >
                  <li >
                    <a class="category-name on-hover-pointer" ng-class="{'active-sub-category': subcategories.Id == flags.selectedCategory.Id}" ng-click="selectCategory(subcategories)">
                      <span class="cat_mar">{{subcategories.Name}}</span>
                    </a>
                    <ul class="sub-categories" ng-show="subcategories.Id ==flags.selectedCategory.Id">
                      <li ng-repeat="attribute in subcategories.Attribute">
                        <div>
                          {{attribute.Attribute_name}}
                        </div>
                        <div class="checkbox filter_cat_tex1" ng-repeat="value in attribute.value" ng-click="selectCategoryAttributes($event,attribute.Attribute_slug,value.attribute_value_name)">
                          <label ng-click="$event.preventDefault();"><input type="checkbox" name="selectedAtrributes[]" value="{{value.attribute_value_name}}" ng-checked="selectedAttributes[attribute.Attribute_slug].indexOf(value.attribute_value_name) > -1"><span class="cat_mar">{{value.attribute_value_name}}</span></label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 filt-btn">
          <button class="btn sell-equ all-btn" ng-click="filterBtn()">Filter</button>
        </div>
        <!-- End Filter Results side -->
        <!-- START  All Product side -->
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 display_side nopadding">
          <!-- START  Equipment Tab -->

          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <ul class="nav nav-tabs gride-tab root-category">
              <li ng-click="selectRootCategory(category)" ng-class="{'active': selectedRootCategory.Name == category.Name}" ng-repeat="category in rootCategories | orderBy:'categoryDisplaySortOrder'"><a data-toggle="tab" href="#equpment">{{category.Name}}</a></li>
            </ul>


          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 visible-md visible-lg">
            <div class="list-grid">
              <ul>
                <li><a ng-click="toggleGridView(false)"> <i class="fa fa-bars fa-2x"></i></a></li>
                <li><a ng-click="toggleGridView(true)"><i class="fa fa-th fa-2x"></i></a></li>
              </ul>
            </div>
          </div>

          <!-- End Equipment Tab -->
          <ui-view></ui-view>


        </div>
        <!-- End All Product Side -->
      </div>

    </div>

  </article>

  <!-- End  Main Content -->


</section>
