<section>
  <!-- START  Main Content -->
  <article class="main-cantain">
    <div class="container">
      <div class="row">
        <!-- START  Filter Results side -->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 filter_side">
          <div class="col-lg-12">
            <i class="fa fa-filter fa-lg"></i>
            <span class="filter">Filter Results:</span>
          </div>
          <div class="col-lg-12 category_filter1">
            <h5 class="cat_side_title">Category
              <span class="cat_minus"><a ng-click="flags.categoryCollapse = !flags.categoryCollapse" data-toggle="collapse" data-target="#catename"><i class="fa fa-lg" ng-class="{'fa-minus-square' : !flags.categoryCollapse,'fa-plus-square ' : flags.categoryCollapse }"></i></a></span>
            </h5>
            <form id="catename" class="collapse" ng-class="{'in': !flags.categoryCollapse, 'out' : flags.categoryCollapse}" ng-if="categories">
              <div class="checkbox filter_cat_tex">
                <label><input type="radio" name="type" ng-model="selection.type" ng-change="loadCategories()" value="rent"><span class="cat_mar">Rent</span></label>
                <label><input type="radio" name="type" ng-model="selection.type" ng-change="loadCategories()" value="buy"><span class="cat_mar">Buy</span></label>
              </div>
              <div class="checkbox filter_cat_tex" ng-repeat="category in categories">
                <label><input type="checkbox" value=""><span class="cat_mar">{{category.Name}}</span></label>
              </div>
            </form>
          </div>
          <div class="col-lg-12 category_filter1">
            <h5 class="cat_side_title">Category
              <span class="cat_minus"><a ng-click="flags.categoryCollapse = !flags.categoryCollapse" data-toggle="collapse" data-target="#catename"><i class="fa fa-lg" ng-class="{'fa-minus-square' : !flags.categoryCollapse,'fa-plus-square ' : flags.categoryCollapse }"></i></a></span>
            </h5>
            <form id="catename" class="collapse" ng-class="{'in': !flags.categoryCollapse, 'out' : flags.categoryCollapse}" ng-if="categories">
              <div class="checkbox filter_cat_tex">
                <label><input type="radio" name="type" ng-model="selection.type" ng-change="loadCategories()" value="rent"><span class="cat_mar">Rent</span></label>
                <label><input type="radio" name="type" ng-model="selection.type" ng-change="loadCategories()" value="buy"><span class="cat_mar">Buy</span></label>
              </div>
            </form>
            <uib-accordion close-others="oneAtATime">
              <uib-accordion-group heading="Skidsteers & Attachments">
                <ul>
                  <li><h5>Skidsteer Type</h5></li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Track</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Rubber Tire</span></label>
                    </div>
                  </li>
                  <li><h5>Attachments</h5></li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Augers</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Breakers</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Brooms</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Buckets</span></label>
                    </div>
                  </li>
                </ul>
              </uib-accordion-group>
              <uib-accordion-group heading="Air Compressor & Tools">
                <ul>
                  <li><h5>Equipment</h5></li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Breakers</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Hammers</span></label>
                    </div>
                  </li>
                  <li><h5>Attachments</h5></li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Other</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Chisel</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Moil Point</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Spade</span></label>
                    </div>
                  </li>
                </ul>
              </uib-accordion-group><uib-accordion-group heading="Generators & Lighting">
                <ul>
                  <li><h5>Skidsteer Type</h5></li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Equipments</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Equipments</span></label>
                    </div>
                  </li>
                  <li><h5>Attachments</h5></li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Equipments</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Equipments</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Equipments</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox filter_cat_tex">
                      <label><input type="checkbox" value=""><span class="cat_mar">Equipments</span></label>
                    </div>
                  </li>
                </ul>
              </uib-accordion-group>
            </uib-accordion>
          </div>





          <div class="col-lg-12 category_filter">
            <h5 class="cat_side_title">Vendors <span class="cat_minus"><a href="#" data-toggle="collapse" data-target="#vendname"><i class="fa fa-minus-square fa-lg"></i></a></span>
            </h5>
            <form id="vendname" class="collapse in">
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Show All</span></label>
              </div>
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Vendor Name</span></label>
              </div>
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Vendor Name</span></label>
              </div>
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Vendor Name</span></label>
              </div>
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Vendor Name</span></label>
              </div>
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Vendor Name</span></label>
              </div>
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Vendor Name</span></label>
              </div>

            </form>
          </div>
          <div class="col-lg-12 category_filter">
            <h5 class="cat_side_title">Capacity <span class="cat_minus"><a href="#" data-toggle="collapse" data-target="#capname"><i class="fa fa-minus-square fa-lg"></i></a></span>
            </h5>
            <form id="capname" class="collapse in">
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Show All</span></label>
              </div>

              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Capacity Detail</span></label>
              </div>
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Capacity Detail</span></label>
              </div>
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Capacity Detail</span></label>
              </div>
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Capacity Detail</span></label>
              </div>

            </form>
          </div>
          <div class="col-lg-12 category_filter">
            <h5 class="cat_side_title">Available for <span class="cat_minus"><a href="#" data-toggle="collapse" data-target="#available"><i class="fa fa-minus-square fa-lg"></i></a></span>
            </h5>
            <form id="available" class="collapse in">
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Show All</span></label>
              </div>

              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Rent</span></label>
              </div>
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Buy</span></label>
              </div>
              <div class="checkbox filter_cat_tex">
                <label><input type="checkbox" value=""><span class="cat_mar">Monthly Rent</span></label>
              </div>


            </form>
          </div>
          <div class="col-lg-12 category_filter">
            <h5 class="cat_side_title">User Rating <span class="cat_minus"><a href="#" data-toggle="collapse" data-target="#userrate"><i class="fa fa-minus-square fa-lg"></i></a></span>
            </h5>
            <form id="userrate" class="collapse in">

              <a href="#"> <i class="fa fa-star user_reting fa-2x"></i>
                <i class="fa fa-star user_reting fa-2x"></i>
                <i class="fa fa-star user_reting fa-2x"></i>
                <i class="fa fa-star user_reting fa-2x"></i>

                <i class="fa fa-star-o user_reting fa-2x"></i>

              </a>
              <p class="user_rate_tex">Reviews based on 274 submits</p>

            </form>
          </div>
        </div>
        <!-- End Filter Results side -->
        <!-- START  All Product side -->
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 display_side nopadding">
          <!-- START  Equipment Tab -->

          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <ul class="nav nav-tabs gride-tab">
              <li class="active"><a data-toggle="tab" href="#equpment">Equipment</a></li>
              <li><a data-toggle="tab" href="#attachment">Attachments</a></li>
              <li><a data-toggle="tab" href="#accessories">Accessories</a></li>
              <li><a data-toggle="tab" href="#parts">Parts</a></li>
            </ul>


          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="list-grid">
              <ul>
                <li><a ng-click="toggleGridView(false)"> <i class="fa fa-bars fa-2x"></i></a></li>
                <li><a ng-click="toggleGridView(true)"><i class="fa fa-th fa-2x"></i></a></li>

              </ul>
            </div>
          </div>

          <!-- End Equipment Tab -->

          <div class="tab-content">
            <div ng-if="flags.searchResultLoading">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding display">
                <div class="col-lg-10 col-md-10 col-xs-8 dis_tex">Searching Equipments matching ‘{{query}}’ &nbsp;&nbsp;<i class='fa fa-circle-o-notch fa-spin  fa-fw'></i></div>
                <div class="col-lg-2 col-md-2 col-xs-4 text-right link_clr">
                </div>
              </div>
            </div>
            <div ng-if="!flags.searchResultLoading">
              <!-- START  Equipment Product Display -->
              <div id="equpment" class="tab-pane fade in active">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding display">
                  <div class="col-lg-10 col-md-10 col-xs-8 dis_tex">Displaying {{results.length}} Equipments matching ‘{{query}}’</div>
                  <div class="col-lg-2 col-md-2 col-xs-4 text-right link_clr">
                    <div class="btn-group drop-btn">
                      <div>
                          <div class="btn-group" uib-dropdown is-open="status.isopen">
                            <button id="single-button" type="button" class="btn sort-by-btn" uib-dropdown-toggle ng-disabled="disabled">
                              Sort By <span class="caret"></span>
                            </button>
                            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                              <li role="menuitem"><a href="#">Price</a></li>
                              <li role="menuitem"><a href="#">Maximum Availablity</a></li>
                              <li role="menuitem"><a href="#">Relevance</a></li>
                            </ul>
                          </div>
                      </div>
                    </div>

                    <!--                                    Sort By
                                                        <span class="short">  <i class="fa fa-sort-desc fa-2x"></i></span>-->
                  </div>
                </div>
                <div ng-if="flags.gridView" class="clearfix">
                  <div class="col-md-4  lift_box nopadding" ng-repeat="item in results">

                    <figure>
                      <a ng-href="/#/equipments{{item.id}}"><img ng-src="{{item.Product_Image[0].ProductImage_Path}}" alt=""/></a></figure>
                    <div class="certified_box">
                      <img src="assets/images/certified.png">
                    </div>
                    <div class="star_rate">
                      <a href="#"> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i></a>

                    </div>
                    <h4 class="lift_box_tit"><a ng-href="/#/equipments{{item.id}}">{{item.Product_Name}}</a></h4>
                    <h5 class="lift_box_subtit">by <span class="lift_box_vendor"><a href="#">{{item.MAKE}}</a></span></h5>
                    <div class="daily_ul">
                      <ul>
                        <li>
                          <p class="daily_title">Daily</p>
                          <p class="daily_price">${{item.Product_Price.Daily}}</p>
                        </li>
                        <li>
                          <p class="daily_title">Weekly</p>
                          <p class="daily_price">${{item.Product_Price.Weekly}}</p>
                        </li>
                        <li>
                          <p class="daily_title">Monthly</p>
                          <p class="daily_price">${{item.Product_Price.Monthly}}</p>
                        </li>
                      </ul>
                    </div>
                    <div class="heart">
                      <ul>
                        <li>
                          <a href=""><i class="fa fa-eye fa-2x"></i></a>

                        </li>
                        <li>
                          <a ng-href="/#/equipments/{{item.Product_Id}}/reserve" type="button" class="btn btn-default my-reserve">Reserve</a>

                        </li>
                        <li>
                          <a href=""><i class="fa fa-heart fa-2x"></i></a>


                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row" ng-if="!flags.gridView">
                  <div class="col-md-12"><hr class="dash"></div>
                  <div class="col-md-12 col-sm-6 col-xs-12 list-product" ng-repeat="item in results">
                    <div class="col-md-3 lift-list">
                      <figure>
                        <a ng-href="/#/equipments/{{item.Product_Id}}"> <img ng-src="{{item.Product_Image[0].ProductImage_Path}}"></a>
                      </figure>
                    </div>
                    <div class="col-md-6 nopadding">
                      <h4 class="lift_box_tit"><a ng-href="/#/equipments/{{item.Product_Id}}">{{item.Product_Name}}</a></h4>
                      <h5 class="lift_box_subtit">by <span class="lift_box_vendor"><a href="#">{{item.MAKE}}</a></span></h5>
                      <div class="col-md-3 star_list">
                        <div class="star-list-top">
                          <a href="#"> <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i></a>

                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="daily_ul">
                          <ul>
                            <li>
                              <p class="daily_title">Daily</p>
                              <p class="daily_price">${{item.Product_Price.Daily}}</p>
                            </li>
                            <li>
                              <p class="daily_title">Weekly</p>
                              <p class="daily_price">${{item.Product_Price.Weekly}}</p>
                            </li>
                            <li>
                              <p class="daily_title">Monthly</p>
                              <p class="daily_price">${{item.Product_Price.Monthly}}</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class=" heart_list">
                          <ul>
                            <li>
                              <a href=""><i class="fa fa-eye fa-lg list-icon-top"></i>
                                <span class="eye_view">357 views</span>
                              </a>

                            </li>
                            <li>
                              <a href=""> <i class="fa fa-clock-o fa-icon-clr fa-lg list-icon-top"></i>
                              </a>
                              <span class="eye_view">7 Times Rented</span>

                            </li>
                            <li>
                              <a href=""><i class="fa fa-share-alt fa-icon-clr fa-lg list-icon-top"></i>
                              </a>
                              <span class="eye_view">26 Shares</span>

                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-3 right-btn-col">
                      <a ng-href="/#/equipments/{{item.Product_Id}}/reserve" type="button" class="btn btn-default my-reserve">Reserve</a>
                      <button type="button" class="btn btn-default add-list" ng-click="addToWishList(item.Product_Id)">Add to Wishlist</button>
                    </div>
                    <div class="col-md-12"><hr class="dash"></div>
                  </div>
                </div>

              </div>
              <!-- End Equipment Product Display -->
              <div id="attachment" class="tab-pane fade">
                Attachments
              </div>
              <div id="accessories" class="tab-pane fade">
                Attachments
              </div>
              <div id="parts" class="tab-pane fade">
                Attachments
              </div>
            </div>


          </div>
        </div>
        <!-- End All Product Side -->
      </div>

    </div>
  </article>

  <!-- End  Main Content -->


</section>
