

  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 display_side nopadding catalog-div">
    <div class="clearfix">
      <div ng-show="catelogFetchInProgress" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <load-indicator loading="catelogFetchInProgress"></load-indicator>
      </div>
      <div ng-style="{'visibility': catelogFetchInProgress ? 'hidden':'visible'}">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 my-bottm-line manage_job_tit manage_job_tit_small">
          My Catalog
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right my-bottm-line dash_board_tit manage_job_tit_small">
          <a class="dash_board_light invoice-no" href="#/">Home </a> <i class="fa fa-chevron-right icon-text color-blue"></i> <span class="dash_board_bold">Catalog</span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bord_dash_bot"></div>
        <div ng-show="!catelog.length" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-center">
          <h3 class="heading-text cart-empty pull-center">
            Sorry! No Items in Catalog.
          </h3>
          <button class="btn sell-equ all-btn cont-renting" ng-click="$state.go('hm.search.results')"><i class="fa fa-chevron-left"></i> &nbsp
            Go back and add few
          </button>
          <!-- <a ui-sref="hm.search.results"> Go Back</a> -->
        </div>
        <div class="col-md-4 lift_box nopadding repeat-item pull-left" ng-repeat="product in catelog">
          <figure class="catalogue-fig">
            <a ui-sref="hm.equipmentDetails({id: product.Product_Id})"><img alt="" ng-src="{{product.Product_Image[0].ProductImage_Path}}"/></a>
            <!-- <div class="certified_box"> -->
            <div class="">
              <a href="#"> <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
              </a>
            </div>
            <!-- </div> -->
          </figure>
          <div class="catalogue-desc">
            <h4 class="lift_box_tit"><a ui-sref="hm.equipmentDetails({id: product.Product_Id})">{{product.Product_Name}}</a></h4>
            <h5 class="lift_box_subtit">by <span class="lift_box_vendor"><a ui-sref="hm.equipmentDetails({id: product.Product_Id})">{{product.MAKE}}</a></span></h5>
            <div class="daily_ul">
              <ul>
                <li>
                  <p class="daily_title">Daily</p>
                  <p class="daily_price">${{product.Product_Price.Daily}}</p>
                </li>
                <li>
                  <p class="daily_title">Weekly</p>
                  <p class="daily_price">${{product.Product_Price.Weekly}}</p>
                </li>
                <li>
                  <p class="daily_title">Monthly</p>
                  <p class="daily_price">${{product.Product_Price.Monthly}}</p>
                </li>
              </ul>
            </div>
            <div class="heart reserve-btns">
              <a href=""><i class="fa fa-eye fa-2x pull-left"></i></a>
              <a ui-sref="hm.reserveEquipment({id: product.Product_Id})" type="button" class="btn my-reserve all-btn">Add to Cart</a>
              <a ng-click="removeFromWishList(product)"><i class="fa fa-heart fa-2x pull-right" btn-load-indicator="Add:Wishlist:Process"  btn-uid="product.Product_Id" ng-class="{'wish-added': product.Is_in_catelog}"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


